[2018-08-15 16:15] r10s opened #1 "add gmail-specific hints when the user tries to create an gmail-account"
see the old telegram ui, https://github.com/deltachat/deltachat-android/blob/master/MessengerProj/src/main/res/values/strings.xml#L325

[2018-08-15 16:18] r10s opened #2 "wait for deltachat-core reaching milestone 1.0"
this issue can be closed if deltachat-core reaches the milestone "Release 1.0", see https://github.com/deltachat/deltachat-core/milestone/1

[2018-08-16 06:43] Boehrsi commented on #1
I already added that logic in https://github.com/deltachat/deltachat-android-ii/blob/master/src/org/thoughtcrime/securesms/RegistrationActivity.java#L113 but we can think about a more prominent way to tell the user the special handling of GMail.

[2018-08-16 07:44] Rubylion opened #3 "Delta Chat???"
Hi. Is this really Delta Chat, because it's all about signal. If so, would it be possible to have a dark theme? Would really be happy about this feature.

[2018-08-16 09:32] Boehrsi opened #4 "Reintegrate core"
We have to integrate the core to make the UI actually work. It was already done here [https://github.com/r10s/deltachat-android-ii/commits/master](https://github.com/r10s/deltachat-android-ii/commits/master) and should be done in a similar way for this project.
We just need to clarify the way the actual core library (jni/messenger-backend) should get integrated. Probably as a submodule or somethin

[2018-08-16 09:41] Boehrsi commented on #4
Just created a patch, based on the commits made in the other repo and did some small adjustments to the Android.mk file as the c build process failed due to wrong paths. The result is the following commit: https://github.com/deltachat/deltachat-android-ii/commit/de016eba2cb9b4070f7d260a663535e54604ce7e

[2018-08-16 13:38] Boehrsi commented on #4
Fixed by https://github.com/deltachat/deltachat-android-ii/commit/c805aa8d64723151c142dd72bc70382f454e681f

Core added as submodule.

[2018-08-16 13:38] #4 closed

[2018-08-16 13:52] r10s commented on #3
This is the signal frontend where the signal network part will be replaces by deltachat-core.
So, yes, this turns into _Delta Chat Android UI_. And yes, this will probably have a dark theme then :)

[2018-08-16 13:53] r10s commented on #4
great :)

[2018-08-16 14:10] #3 closed

[2018-08-17 12:23] r10s opened #5 "use a different applicationId"
we should use a different applicationId and make the applicationId independent from the package names

at least during bootstrapping the id should be different from com.b44t.messenger (current Delta F-Droid app) and org.thoughtcrime.securesms (Signal), so that all three apps can be installed on the same device.

maybe we can use chat.delta.android-ii during bootstrapping.

@Boehrsi i tried to chan

[2018-08-17 14:02] r10s opened #6 "remove .so files from repository"
i would suggest to remove the [`.so`](https://github.com/deltachat/deltachat-android-ii/tree/master/libs) files form the repository (add `.so` to `.gitignore`). in contrast to signal, these binaries get a reasonable size of several mb.

@Boehrsi @angelo-fuchs i think we all have ndk-build ready and at a give time the core-lib should go to maven anyway.

what do you think?

[2018-08-17 14:19] r10s commented on #6
just did the change to avoid spamming of the repo, i leave this issue open for discussion (if needed)

[2018-08-17 15:13] ralphtheninja commented on #6
@r10s You might want to consider pushing up this commit as the first commit, since the binaries are still in the git database.

[2018-08-17 15:58] r10s commented on #6
@ralphtheninja do you know of this can be achieved by a `git rebase` or something similar?
however, it's only some mb of no more-growing-overhead, seems not to be that important :)

[2018-08-17 16:57] ralphtheninja commented on #6
I was thinking you could remove `.git` folder and make a `git init` again and force push that, since the commit history isn't _that_ long yet, in case you're worried about the commit history.

Aye, maybe not that important :) Still, like 10Mb that will hang in there forever :)

On the other hand, it's possible to _rewrite_ the git history using `git filter-branch`.

[2018-08-18 10:25] r10s commented on #6
@ralphtheninja sounds interesting. so a ...
[code]
should do the job to delete old .so files and the unused c-libraries?

[2018-08-18 19:04] ralphtheninja commented on #6
`git gc` in my experience is not enough, you should really try to re-clone the repo to see the effect, you can always try the clone locally

[2018-08-18 19:05] ralphtheninja commented on #6
Yes, the command looks correct. But I haven't used this git feature in a long time.

[2018-08-18 22:59] r10s opened #7 "where to add new ui-based-files"
@Boehrsi @angelo-fuchs while the name "com.b44t.messenger" may change at a given time, this package is now clearly defined as the core bindings from Java to C, the package does not even contain Android code and should work even with plain Java. @angelo-fuchs i think this is the part that should go to maven at a given time.

to implement the android-specific part, i derived the class ApplicationDcC

[2018-08-18 23:34] r10s opened #8 "bootstrap connection"
- [x] start threads
- [x] add event handler
- [x] open database, using the same location as in the telegram ui (to keep the option for an upgrade)
- [ ] handle isOnline/isOffline
- [ ] add timer to restart threads
- [ ] ~~interrupt idle~~ call [dc_maybe_network()](https://c.delta.chat/classdc__context__t.html#a2f61e875270dbb7e7a2533461baa659b) when going online again

[2018-08-18 23:36] r10s commented on #8
apart from that, all functions in ApplicationDcContext should be usable, eg. dcContext.configure(), dcContext.open(), dcContext.setConfig() etc.

[2018-08-19 21:55] r10s opened #9 "what is a good way to access ApplicationDcContext?"
ApplicationContext.getInstance(getApplicationContext()).dcContext seems to be a little painful.

(used this way eg. in RegistrationActivity)

[2018-08-19 22:26] r10s opened #10 "if isConfigured() is true, do not open WelcomeActivity"
in general, configure() works now (but lacks progress information, abort, error handling).

but if we stop opening WelcomeActivity resp. RegistrationActivity if Application.DcContext.isConfigured() returns true, we should already go to the chat list and can start filling this with life :)

[2018-08-19 22:28] r10s commented on #8
the most important things work; the rest is independent from implementing chat list, chats etc. and i will add the rest soonish.

[2018-08-19 22:34] r10s opened #11 "forward event from ApplicationDcContext to RegistrationActivity"
after calling ApplicationDcContext.configure() from RegistrationActivity the configuration is done (and working!) in the core that posts some events to the ApplicationDcContext.handleEvent() callback.

- the events may come from any thread, so Util.runOnMain() will probably be needed
- the events sent are DC_EVENT_CONFIGURE_PROGRESS with 0=error, <1000=progressInPermille, 1000=success, see [source

[2018-08-21 08:09] Boehrsi commented on #11
If I get it right this would be a component like the _NotificationCenter class + listeners_ in the old code? I liked the general approach used there.
In my opinion we should use something similar:

- The core feeds a central DcMessageCenter if an event occurs
- The events are separated by types (e.g. configure, message received, message sent etc.) and returned values are mapped there (e.g. to list

[2018-08-21 08:11] Boehrsi commented on #10
I will start with this today :)

[2018-08-21 08:14] Boehrsi commented on #9
Will have a look into this, there should be a prettier way. But we could at least refactor such calls into Base* classes, as this will be used in any class aware of the core.

[2018-08-21 10:03] r10s commented on #10
great :)

[2018-08-21 10:09] r10s commented on #11
- yes, this would work, i also found the concept of listeners rather smart.
i just wanted to make sure not just to copy "bad" copy from telegram without asking an android expert :)
- to avoid boiler-plated code, maybe we could just forward the raw events. having eventId+data at the correct places looks sufficient to me
- i would add all this to the signal-part, not to the com.b44t.messenger - whic

[2018-08-21 12:27] Boehrsi commented on #11
@r10s you are welcome :)

But that would mean implementing the handling at different places (possibly in different ways, which could be good, but could also lead to Spaghetti Code) and also multiple times. This can be countered by Base* classes but that wouldn't work always.
In that case I would prefer a more centralized solution which provides some sort of abstraction. At least the registering an

[2018-08-21 13:09] r10s commented on #11
@Boehrsi not sure if we're talking about the same :)

from the view of the event consumer, i am thinking about sth. like
[code]

the main reason is that i can very easily add new events this way by just adding the ID to DcContext.

we'll it depends on if the core binding should be java or java-android. we already have a subfolder "connect" - maybe we can add the signal-android-core specific things

[2018-08-21 13:41] r10s commented on #11
@Boehrsi but maybe this is too c-ish, not sure :)

[2018-08-21 14:05] Boehrsi commented on #1
Fixed by https://github.com/deltachat/deltachat-android-ii/commit/ea5522f789c663c6f367f2673bf052d85a50f504

Also some cleanup stuff.

[2018-08-21 14:05] #1 closed

[2018-08-21 14:33] Boehrsi commented on #11
@r10s ah okay I think i misunderstood you. I like the above approach and if we see we have to duplicate code we can still add some helper classes / methods somewhere. But please lets ditch the  NotificationCenter naming ;), as Notifications have a pretty specific meaning in the Android context.

Regarding the location of that code I have also no strong opinion, it`s more a feeling that we should p

[2018-08-21 14:37] Boehrsi commented on #5
Will add that tomorrow.

[2018-08-21 15:28] ralphtheninja commented on #11
`EventCenter` :)

[2018-08-21 15:35] r10s commented on #11
that would be perfect and that is a strong argument to put it to com.b44t.messenger

:)

or more boring, DcEventDispatcher ?

[2018-08-23 14:40] Boehrsi commented on #5
Set to **chat.delta.androidii** as _chat.delta.android-ii_ is not allowed ("-" is a forbidden char).

Fixed by 516929071c3b9bdfa3dc8c69f373bce63bdd9681

[2018-08-23 14:40] #5 closed

[2018-08-23 15:07] r10s commented on #5
not sure what i was doing wrong, but i _think_ i tried the same without success :) you have magic hands :)

[2018-08-27 06:36] Boehrsi commented on #5
;) sometimes that little green robot needs a clean build or similar to accept his fortune. ;)

[2018-08-27 08:33] r10s commented on #5
"nach dem boot wird alles gut"
_- wisdom i got from an older programmer when in youth years :)_

[2018-08-27 14:06] Boehrsi commented on #11
Both fine ;) or a combination DcEventCenter.

[2018-08-27 14:10] r10s commented on #11
i would vote for DcEventCenter, the Dc prefix makes sense when it belongs to com.b44t.messenger

[2018-08-29 10:10] angelo-fuchs opened #12 "Register screen "IMAP server" is configured as number"
When starting the app on the register screen -> "Advanced"
The field "IMAP server" is configured as a number, so no text can be entered.

[2018-08-29 12:39] angelo-fuchs opened #13 "Forward from RegistrationActivitiy to ConversationList"
When the Registration is complete we should go to the conversation list.

[2018-08-29 12:45] Boehrsi commented on #13
The automatic "back to WelcomeActivity / RegisterActivity" mentioned in the IRC should get fixed by my changes in https://github.com/deltachat/deltachat-android-ii/issues/10

[2018-08-29 13:06] r10s commented on #13
great, meanwhile we also have the DcEventCenter (#11) nice too see things growing :)

[2018-08-29 14:12] Boehrsi commented on #12
Fixed by https://github.com/deltachat/deltachat-android-ii/commit/130ecf2bb1cb8c20ea40c3b36d6adbd697d1b444

[2018-08-29 14:12] #12 closed

[2018-08-29 14:14] Boehrsi commented on #9
I just tried something in https://github.com/deltachat/deltachat-android-ii/commit/8e9f398e491347186b0496ac6c6adad4514d9642 and created a small wrapper https://github.com/deltachat/deltachat-android-ii/commit/8e9f398e491347186b0496ac6c6adad4514d9642#diff-dd4d2b1da1d3b500a1f3e31f2f98ae90 we can extend / rename or whatsoever.

[2018-08-29 14:22] Boehrsi opened #14 "Add preference / settings functionality"
After login the user is unable to open the settings. The app crashes as we have no address object, which is needed. To avoid a crash and provide the needed functionality we should adjust the ProfilePreference.java and other needed classes to display DeltaChat releated user information.

- [x] Avoid crash on entering settings screen
- [x] Avoid crash on entering account settings screen and enable t

[2018-08-30 07:08] Boehrsi commented on #9
Sure, it will adjust that during my work on https://github.com/deltachat/deltachat-android-ii/issues/14 as I think I will create more "easy access methods" anyway within that helper class.

[2018-08-30 09:33] r10s commented on #9
or `DcHelper.getContext()` - then other "easy access methods" would also make sense when they're not strictly related to DcContext - but eg. to events or whatever. also we would avoid a very generic get() method name while still  being short.

[2018-08-30 11:06] Boehrsi commented on #9
Yep that's true, will go the DcHelper.* way  :+1:

[2018-08-30 12:09] r10s commented on #9
cool :)

[2018-08-30 14:49] Boehrsi commented on #14
First iteration added (https://github.com/deltachat/deltachat-android-ii/commit/1b1d20f53be659c4e912ae1ae82c5dff292e847b), which avoids the initial crash and gets the first config values via core.

[2018-08-30 15:02] #9 closed

[2018-08-30 15:46] r10s opened #15 "remove notification about making Delta Chat the default SMS-app"
at least for now (we can leave the code :)

[2018-08-30 15:47] r10s opened #16 "close RegistrationActivity after opening ConversationListActivity"
after moving from RegistrationActivity to ConversationListActivity we should remove RegistrationActivity from the Activity-stack (or how this is called). a simple finish() should do this job.

however, i think it should also be possible to go from the RegistrationActivity back to the WelcomeActivity, so this finish probably won't be sufficient.

[2018-08-30 16:10] r10s commented on #16
[finishAffinity()](https://developer.android.com/reference/android/app/Activity#finishAffinity()) should do this job, however, is only available in API 16 (which API do we target?)

[2018-08-30 23:47] r10s commented on #16
added in https://github.com/deltachat/deltachat-android-ii/commit/9775f8c33218ea2fef4a9c0ee8b1c5270ab5b5df  - the WelcomeActivity listens now also to DC_EVENT_CONFIGURE_PROGRESS and finishes itself on configure success

[2018-08-30 23:47] #16 closed

[2018-08-31 06:38] Boehrsi commented on #15
Will do that one today (including the settings part, where this should also get removed).

[2018-08-31 06:57] Boehrsi opened #17 "Adjust or remove address object"
Signal provides an address object, which is used all over the app. It contains information about a user or group and is used for various things (e.g. also mapping of avatar images and so on).
We have do decide if we want to keep that object and use it as wrapper for our data delivered by the Delta core or do we want to remove that object as a whole and replace the calls within the app with the dir

[2018-08-31 08:26] r10s opened #18 "check why the key generation is slow on some devices"
currently, the key generation is done during `dc_configure()` after the connection could be established.

in the code, this is here https://github.com/deltachat/deltachat-core/blob/master/src/dc_configure.c#L697 (the progress is at 92% during key generation)

- on desktop, this is always fast, a second, not more.
- in the old delta-telegram-app, this was often fast, but i have some devices (eg. mo

[2018-08-31 08:50] Boehrsi commented on #18
Checked it on a Samsung Galaxy S7 and it took 1-2 minutes. Pretty strange.

[2018-08-31 08:53] Boehrsi commented on #18
Checked it on a Samsung Galaxy S7 and it took 1-2 minutes. Pretty strange.

[2018-08-31 09:14] r10s commented on #17
i would also try to keep the address object.
otherwise we would produce code that is no more working, i think this is something we should avoid.

[2018-08-31 11:04] Boehrsi commented on #15
Fixed by https://github.com/deltachat/deltachat-android-ii/commit/3e72e2f6c83f02c3cedb4b177d5ddc92cdfad45f

[2018-08-31 11:04] #15 closed

[2018-08-31 11:14] Boehrsi commented on #14
I will now adjust the edit profile part, which is currently also crashing, as it references the address object mentioned in https://github.com/deltachat/deltachat-android-ii/issues/17.

[2018-08-31 11:59] r10s opened #19 "delay requesting rights to the time they are really needed?"
i would suggest to delay requesting-of-rights to the time these rights are really needed.

i have the feeling that this is more clear to the user what is happening then.

eg. i would suggest to remove requesting the rights to access WRITE_CONTACTS, READ_CONTACTS from RegistrationActicity to the opening of the contact list (we would only need READ_CONTACTS btw).

WRITE_EXTERNAL_STORAGE and READ_EXT

[2018-08-31 12:11] Boehrsi commented on #19
Makes sense, just kept it because the Signal logic performed it that way.
But requesting the permissions at runtime, during the interaction which really requires the permission, is definitely the correct approach.

[2018-08-31 12:16] r10s commented on #19
perfect :)

[2018-09-07 11:19] r10s opened #20 "short flickering of "linked devices" when the settings dialog is opened"
maybe it is better to remove the item than to hide it. or hide it before the list is shown. or whatever :)

[2018-09-08 00:08] r10s commented on #17
Beside the Address object, i think it is also useful to keep some other objects.
Eg. the ThreadRecord that is needed for the ConversationList items, but also for other things.

For now, i put the helper function to ApplicationDcContext, see
https://github.com/deltachat/deltachat-android-ii/commit/71bd8c3903ff93a56bb03ebc9a9d3484a57640a1#diff-bba88278bbbbe5532b9e7dfa9294bbe0R95, which makes some se

[2018-09-09 21:35] r10s opened #21 "bootstrap chatlist"
- [x] show chats
- [x] update chats on incoming messages

items to show:
- [x] text excerpt
- [x] date
- [x] name (via summary.getChat().getName()
- [x] read status
- [x] unread count
- [ ] avatar
- [x] check type (seems to be sms now)

[2018-09-09 21:51] r10s opened #22 "update logo and branding"
- [x] replace logo+name in the title bar of the ConversationList by just the string "Delta Chat" (just as in the current app).
having the colored logo there will look choppy imo.
also we will have a 3rd icon beside "search" and "menu" for qr ocde scanning, adding also the logo there may make the title bar too crowded.
- [x] update app name
- [x] update app logo - i think we should just use the sam

[2018-09-09 22:04] r10s commented on #6
just executed the commands from above, the repo should be several mb smaller without the .so handing around in old commits

[2018-09-09 22:04] #6 closed

[2018-09-09 22:07] #7 closed

[2018-09-09 22:08] #11 closed

[2018-09-09 22:08] #13 closed

[2018-09-10 06:38] r10s commented on #22
belonging commits, https://github.com/deltachat/deltachat-android-ii/commit/1cbfab14147ce5645fc354375af13501b8d75405,  https://github.com/deltachat/deltachat-android-ii/commit/e9df8aaf409386f1b12fdea956e359d1d1ca9ec8

[2018-09-12 16:28] r10s opened #23 "update ConversationList on (un-)archive and corresponding actions"
in signal, the ConversationList is updated by calling `Database.notifyConversationListListeners()` from the functions really modifying data as `ThreadDatabase.archiveConversation()`.

as we replace functions as `ThreadDatabase.archiveConversation()` by our own (`DcContext.archiveChat()` int this case), the notifications are not emitted.

however, the core sends corresponding events; DC_EVENT_MSGS_

[2018-09-12 22:28] r10s commented on #23
the chatlist is updated using ConversationListAdapter.changeCursor(DcChatlist) which is called only by ConversationListFragment.onLoadFinished()/onLoadReset()

[2018-09-12 22:49] #23 closed

[2018-09-12 23:36] r10s opened #24 "implement global search"
the global search from the conversation list is still buggy.
entering "2" on my machine crashes in toPhoneString() with the error Not e164

[2018-09-13 14:07] r10s opened #25 "changes in android-ii"
this issue is here to collect the changes of deltachat-android-ii compared to deltachat-android.
we can later use it in a changelog or blog them:

- dark theme
- pure material design
- accessible eg. to screen readers
- support right-to-left langauges
- the chatlist display relative time, as "just now" or "2 minutes ago". the time is updated as needed
- the chatlist supports a long click that allo

[2018-09-14 08:59] r10s opened #27 "Show "clear contact search" button only if there is a contact search"
nitpicking: the "clear toggle" in the ContactSelectionActivity should only be visible when there is sth. entered (in signal, this is the toggle between numeric/alphanumberic keyboard then, we should just hide this)

see https://github.com/deltachat/deltachat-android-ii/commit/82e50142b31d5f8c4a6fb48044645ab4c2b747ba#diff-bda89c5b5e7850b9b7742880ce2e4ea1

[2018-09-14 10:16] angelo-fuchs commented on #22
I think it might be better to have an altered logo (with a little σ in the upper right corner) to indicate the new codebase, at least as long as we have both apps installed side-by-side.

[2018-09-14 10:52] r10s commented on #22
or maybe just a new app name as "Delta Chat II"

[2018-09-14 12:49] #27 closed

[2018-09-14 15:04] hpk42 commented on #22
On Fri, Sep 14, 2018 at 03:52 -0700, björn petersen wrote:

Delta Chat dev?

Let's maybe avoid trying to have "signal" too much in user facing things.
We could also reuse this concept for future "breaking" changes.
With delta-chat export / delta-chat-dev import one could directly
start using it, right?

[2018-09-14 16:13] r10s commented on #22
yes.

[2018-09-14 16:31] r10s opened #28 "bootstrap contact list"
- [x] list contacts
- [x] show avatar
- [x] search for contacts
- [x] create contacts
- [x] create chats from contact list
- [x] create groups from contact list
- [x] update contact list on events
- [x] invite activity

ui stuff:

- [x] from the group creation flow, the input field is not needed (and currently not working) - make it working or disable it - EDIT: replaced it by a button. this is al

[2018-09-14 16:34] r10s opened #29 "bootstrap chat view"
- [x] show basic ui
- [x] show text messages
- [ ] show images, files, audio, video
- [x] update contact list on events
- [x] use cache for DcMsg objects, eg. as due to prev/curr/next each message is loaded at least 3 times
- [x] show date
- [x] show non-scrolling date header
- [x] send text messages
- [ ] send media messages
- [ ] link profile and group info
- [ ] draft handling, this requires ht

[2018-09-14 16:42] r10s opened #30 "profile view"
the profile view can be used, in general.

in the old android version, we had also the group handling here, however, for now, it seems easier to leave this as a second activity that is started by a click on the group icon in the ConversationActivity action bar, see issue #92

this issue is about to get the old stuff running, there is another activity that is about refinements, #124

[2018-09-14 16:46] r10s opened #31 "make settings work"

[2018-09-14 16:46] r10s opened #32 "make notifications work"
this is strongly related to https://github.com/deltachat/deltachat-android-ii/issues/8

- [x] have a notification at all
- [x] notification can mark as noticed so it goes away
- [x] swipe marks as notified
- [x] tapping on notification should open deltachat and navigate to chat (if single) or chatlist (if multiple)
- [x] tapping 'Answer' on notification opens the instant-answer overlay
- [x] sound

[2018-09-14 22:45] angelo-fuchs commented on #22
Just renaming it does the job from my perspective. I just happen to like hidden clues.

I slightly prefer "Delta Chat Dev" over "Delta Chat II" (as it avoids questions like: When will Delta Chat II be available on Platform X).

[2018-09-15 10:15] r10s opened #33 "allow creation of verified groups"

[2018-09-16 09:07] hpk42 commented on #22
think it's nice to have a hint in the logo (just "dev" written over it or so)

On Sat, Sep 15, 2018 at 04:19 -0700, björn petersen wrote:

[2018-09-16 10:33] r10s opened #36 "ui glitches"
this issue is to collect some ui glitches of the new port, they are not super-urgent, but should be fixed sooner or later. feel free to comment and to add your points :)

- [ ] in the add-group-member-activity, the _checkmark_ in the title bar should be right; the left side should show a _cross_ to abort
- [ ] in the add-group-activity, the member list has different left/right borders than the res

[2018-09-17 08:41] r10s opened #37 "add option to delete contacts"
the contacts in delta chat are more suggestion for e-mail addresses to create chats.
contacts that are in used by chats, cannot be deleted (they can be blocked).

however, sometimes the user wants to delete an contact from the list explictly, eg. he may have added it accidentially, a typo or whataever.

i would suggest to offer such an option via a long-click on a contact in the contact list.
the

[2018-09-19 20:42] #17 closed

[2018-09-20 19:47] r10s opened #41 "scrolling brings the message list out of order"
scrolling some times up and down brings the message list out of order.

probably an issue with item recycling and/or not refreshing.

[2018-09-21 16:32] #22 closed

[2018-09-21 16:36] r10s commented on #22
@hpk42 here you are:

![dev-logo](https://raw.githubusercontent.com/deltachat/deltachat-android-ii/3fe51ceab882be661c443672e8a48e36579a6eba/res/mipmap-xxhdpi/ic_launcher_dev.png)

[2018-09-21 19:03] #41 closed

[2018-09-21 20:37] r10s opened #42 "make application locking work"
signal application locking is done using the system credentials (pin, password, pattern, fingerprint)

currently, the function is disabled and the option in the settings as well (just because of crashes and other things being more important)

i think, this would be a nice feature and probably simple to implement as it should be mostly independent of deltachat-core

[2018-09-21 20:37] r10s opened #43 "handle autocrypt setup messages"
- [x] send autocrypt setup messages
- [x] add an option for "pefer encrypt"
- [ ] receive autocrypt setup messages

[2018-09-21 20:41] r10s commented on #33
nb: signal has a nice dual QR scan/show screen in Setttings / Linked Devices

[2018-09-21 21:06] #20 closed

[2018-09-26 09:03] r10s opened #44 "use a shorter animation when clicking an item in the chat list"
seems as if the animation takes a second before the change from the ConversationListActivity to the  ConversationActivity is really initiated

[2018-09-26 09:05] angelo-fuchs opened #45 "Wording change 'Conversation' to 'Chat'"
The signal code uses 'Conversations' in its internal structures (like Activities, etc.) whereas delta uses 'Chat'. This is also reflected in the messages to the user that need to be adjusted as well.

We should change at least the frontend to avoid confusing the user later on.

[2018-09-26 09:13] r10s opened #46 "add contacts from the system address book to internal contact database"
each time the contact list is opened, the system address book should be read and all names+email addresses should be added using [`dc_add_address_book()`](https://deltachat.github.io/api/classdc__context__t.html#a4b5e52c5d45ee04923d61c37b9cb6498) resp. `DcContext.addAddressBook()`.

this should be done in a thread, currently, currently, it is not needed to remove addresses added; the contact list

[2018-09-26 09:16] r10s opened #47 "initialize the add-group-member-activity with the selection from add-group-activity"
when there are already some selected group members in the group-creation activity, and the user wants to add more members, the already existing ones should be preselected.

[2018-09-26 09:16] #28 closed

[2018-09-26 09:17] r10s opened #48 "style the member list on the group-creation activity"
the add-group-activity should probably also display the avatars of the selected members and use a proper margin; maybe the best is to use the normal ContactSelectionListItem

[2018-09-26 09:28] r10s commented on #18
the reason for this seems to be the bundled openssl() version; when using this version on desktop, there is the same issue

[2018-09-26 09:31] angelo-fuchs opened #49 "adapt colors"
There currently is everything in blue. We want to have it in Delta Green.

[2018-09-26 09:32] angelo-fuchs commented on #49
This concerns at least the headline and the write button, probably other elements as well (icons in config?)

[2018-09-26 09:36] r10s commented on #49
+1 for "Delta Green"

[2018-09-26 09:43] angelo-fuchs opened #50 "Allow for customized Background image"
Old UI allowed for customized background image. We need that in the new as well.

[2018-09-26 09:45] r10s opened #51 "make speech bubbles more look like the old Delta Chat?"
related to #50 as the result of this will be bubbles in a light color with possibly a dark border/shadow that contrast to every background.

[2018-09-26 09:49] r10s opened #52 "make checkmarks look like the old Delta Chat"
one checkmark = delivered
two checkmarks = read by recipient

[2018-09-26 09:59] angelo-fuchs opened #53 "Mark all Read must be undoable or disabable"
I accidentally tapped 'mark all read' because I wanted 'new chat'. Then all the info was lost.

So we need to either repeat the question ('are you sure') or move the button somewhere where you can't accidentally click it or add an option (e.G. in settings) to disable this feature.

[2018-09-26 10:02] r10s commented on #53
"are you sure" messages might be hated by users, however, in this case, this seems to be the easiest solution.

[2018-09-26 10:10] hpk42 commented on #53
On Wed, Sep 26, 2018 at 03:02 -0700, björn petersen wrote:

one UX metaphor here is "undo" which allows one to not ask annoying questions.
But that's probably a large impl change.

[2018-09-26 12:38] r10s commented on #53
might be. the code on ui-side is there and used eg. for archiving/unarchiving.
so dc_marknoticed_all_chats() could return an array of message-ids which can then be given to dc_markfresh_msgs() (which, unfortunately, does not exist yet).

[2018-09-26 13:32] r10s commented on #52
i think the icons are too detailed :)

[2018-09-26 13:42] testbird commented on #52
Then maybe just a single checkmark for "sent" and a "checked eye" for "seen".

[2018-09-26 19:58] #49 closed

[2018-09-27 15:26] r10s opened #54 "show the number of unread messages in green"
show the number of unread messages in the chat list in the same green as the old delta and/or the same green as appearing when sliding chats away for archiving.

EDIT: the color name is `green_500`

[2018-09-28 08:31] Boehrsi commented on #14
Added https://github.com/deltachat/deltachat-android-ii/commit/75971f7320d970d95afcbe655a80e2447b964792 to allow the user to change the name and the avatar image within the settings. The settings are applied and used now.

[2018-09-28 08:48] r10s commented on #14
great :)

my suggestions:
- i would open a local Alert instead of an URL when clicking on "Who can see this information?"
- i would add a "back arrow" button to the action bar, esp. as the normal. the arrow can have the same effect as "set later".
- maybe we can add an additional button "password and account settings" below "set later" and open the RegistrationActivity from there (to re-configure

[2018-09-28 09:58] #54 closed

[2018-09-28 10:38] #45 closed

[2018-09-28 10:46] Boehrsi commented on #14
Cleaned up the "Privacy" setting fragment

- removed REGISTRATION_LOCK_PREF as we have no phone number registration
- removed ALWAYS_RELAY_CALLS_PREF as we don't have calls and even if we would support calls we don't want to relay them using specific servers
- added an information toast if the "Screen security" setting is changed. As the user needs to restart the app before this setting will be ac

[2018-09-28 10:58] Boehrsi commented on #14
https://github.com/deltachat/deltachat-android-ii/commit/08a4e63ea411d091e95777feaca8c1ca408947e5

[2018-09-28 11:04] Boehrsi commented on #14
Commit: https://github.com/deltachat/deltachat-android-ii/commit/8ad1652cc6e4f7c98342a5132cdb2c333e32f6df

- added an information toast if the "Screen security" setting is changed. As the user needs to restart the app before this setting will be active

[2018-09-28 13:00] #21 closed

[2018-09-28 13:07] r10s opened #55 "show profile images in avatars"
we show images in avatars for the following items:

- group chats, see [dc_chat_get_profile_image()](https://c.delta.chat/classdc__chat__t.html#ad96106c6b88f7705d8ac263133a61c43) resp. DcChat.getProfileImage()

- profile images of contacts if set in the system address book

these two sources are also used in the old telegram ui.

for the future, there will probably be a dc_contact_get_profile_imag

[2018-09-28 13:13] r10s opened #56 "show correct encrypted/unencrypted symbols in chat list"
encrypted = closed lock
unencrypted/opportunistic = no lock

[2018-09-28 13:42] r10s opened #57 "add option to enable/disable end-to-end-encryption"
related to #43

i think it should just look the way as in the old ui:

advanced  / autocrypt:

Send Autocrypt Setup Message
[ ] Prefer end-to-end encryption

[2018-09-28 13:43] #56 closed

[2018-09-28 14:07] Boehrsi commented on #42
Just prepared everything needed in the AppProtectionPreferenceFragment. Removed unneeded stuff and adjusted the security stuff regarding our requirements.
Will add the actual logic to lock the app on Monday.

[2018-09-28 14:57] r10s commented on #14
cool :)

i think the credentials in the RegistrationActivity should be pre-filled with the current settings - incl. the password so that the user can click reconfigure without doing changes (not that this is always useful, however, people will do so :)

[2018-09-30 16:36] r10s opened #59 "draw a line atop of the expanded attachment drawer"
not sure if there has never been one or if it was moved away by accident.

[2018-09-30 17:44] #43 closed

[2018-10-01 08:47] r10s commented on #53
thinking it over, i am not even sure this function is needed/helpful at all.
- it was not there in the old ui
- it is not available in whatsapp/telegram
- it was never requested by a delta chat user
- the function makes it very easy for the user to miss a message
- as mentioned above, it has its flaws
- there is alrady an "archive all" available that works with the existing ui elements - but makes

[2018-10-01 09:35] hpk42 commented on #53
@r10s so you mean that "mark all read" is not needed and can be removed, right?

i am fine with removing it for now, and closing this issue.

[2018-10-01 09:38] r10s commented on #53
yes :)

[2018-10-01 09:52] #53 closed

[2018-10-01 11:17] r10s commented on #59
seems to be never been there, was added in signal after our fork:
https://github.com/signalapp/Signal-Android/commit/4d565990c902cfcc458c5eae35ff10306c1e1ec9

[2018-10-01 12:15] r10s opened #60 "hide the pending-spinning-wheel from the chat list if there are no messages"

[2018-10-01 12:18] r10s opened #61 "center send button vertically"
if the composed message is longer than one line,
- the left icon (open emoji) is shown vertically-centered aligned
- the right icon (send message) is shown vertically-bottom aligned

currently, this looks weird.
i would suggest to center the send button also vertically as this has the advantage that it is more far away from the backspace key also avoids accidental clicks by the way.

[2018-10-01 12:20] r10s commented on #57
done by the commits to #43

[2018-10-01 12:20] #57 closed

[2018-10-01 12:29] r10s opened #62 "show "first message may take a while" in new chats"
in the old apk, we're using for normal chats

    <string name="NoMessagesHint">Send message to %1$s:\n\n• It is okay if %2$s does not use Delta Chat.\n\n• Delivering the first message may take a while.</string>

and for group chats:

    <string name="MsgNewGroupDraftHint">Compose the first message, allowing others to reply within this group.\n\n• It is okay if not all members use Delta Chat.\n\n

[2018-10-01 12:35] #59 closed

[2018-10-01 12:46] #61 closed

[2018-10-01 13:18] Boehrsi commented on #42
- Added locking for background to foreground switch (screen lock)
- Added timeout lock (inactivity timeout lock)
- Added configurable timeout interval

[2018-10-01 14:10] Boehrsi commented on #42
Added some additional messages and allowed the usage of the timeout lock without enforcing the usage of background / foreground lock (screen lock).

[2018-10-01 14:15] r10s commented on #42
@Boehrsi great, will test this now :)

[2018-10-01 14:30] Boehrsi commented on #14
Added prefill for RegistrationActivity

[2018-10-01 14:36] Boehrsi commented on #14
Will gather potential other tasks in the preferences area tomorrow and will add them as sub tasks to this ticket.

[2018-10-01 15:13] r10s commented on #42
@Boehrsi great that you push this forward, very good job :)

some nitpicking after a first test:

- the settings overview always shows "Screen lock on" in the summary (btw when working on this, also the "registration lock" should be removed)
- i think the "Inactivity timeout lock" and "Inactivity timeout interval" should be disabled when the screen lock is disabled by the switch (they are already

[2018-10-01 15:30] #60 closed

[2018-10-01 15:55] Boehrsi commented on #42
Makes sense :), will tackle this adjustments tomorrow.

[2018-10-01 17:06] r10s opened #63 "support switching MDNs on/off"
there is already the setting "Read receipts" which we should use for setting the config value `mdns_enabled`.

[2018-10-01 18:57] #63 closed

[2018-10-01 19:02] r10s commented on #42
@Boehrsi implemented the "read receipts" in the same dialog, hopefully, nothing is broken.

wrt "registration lock" in the overview: maybe we can show the "read receipts" state beside the lock state there.

[2018-10-02 07:27] Boehrsi commented on #42
https://github.com/deltachat/deltachat-android-ii/commit/7530bcd592568fb2769fc6ac91a170c7ea6af144

- Fixed the settings summary (now showing screen lock state and read receipts with correct values)
- Disabled "Inactivity timeout lock" if "screen lock" is disabled
- Added the requested preference category
- Moved change secret
- Small adjustment regarding yesterdays "screen lock" commit

[2018-10-02 08:41] r10s commented on #42
cool, from my side this, issue can be closed :)

might be that we need a timeout _before_ the lock is shown (so that it is not that annoying if the app is in background for a few seconds @kermoshina), however i would wait for feedback on this point.
same for the interval-selector, maybe a menu with some predefines as "30 seconds - 1 minute - 5 minutes" is easier to handle, but i would also wait fo

[2018-10-02 09:13] r10s opened #64 "how preferences do work"
@Boehrsi just a, possibly stupid, question to get a better understanding about how the preferences work on android.

eg. for enable/disable the screen lock, we use `SCREEN_LOCK = "pref_android_screen_lock";` and access the setting everywhere in the code using `SCREEN_LOCK`.

that's clear to me :)

however, i do not find any line of code that initializes the corresponding control to the actual valu

[2018-10-02 09:44] Boehrsi commented on #42
@r10s Yep it is a "real inactivity" counter :). And regarding the timeout before a lock, that could be a good idea. But I would also say we could close this issue for now and wait for feedback regarding the actual user requirements.

[2018-10-02 11:04] Boehrsi commented on #14
@r10s I added "Remove 'Settings / Notifications / Calls' category" as task. Is this a good idea for now or should it stay in the settings?

[2018-10-02 11:34] Boehrsi opened #65 "Adjust version and versionName"
We currently have versionCode 392 and versionName "4.24.7" setup in the build.gradle file of the project. I think we should change that as early as possible to versionCode 1 and versionName "0.0.1", so we start with a proper versioning of the app right from the beginning.
@r10s is that okay from your perspective? This would require a new install for all users of the current https://github.com/delt

[2018-10-02 11:34] Boehrsi commented on #65
I have a local branch which just waits for a push.

[2018-10-02 12:09] r10s commented on #42
cool :)

okay, i close this issue, done so far :)

[2018-10-02 12:09] #42 closed

[2018-10-02 12:17] Boehrsi commented on #64
The settings are directly connected with the shared preferences of Android by e.g. loading `addPreferencesFromResource(R.xml.preferences_app_protection);`. If we don't apply any custom handling for specific preferences the values are just get / set without any further need to implement anything.
This is truly kind of problematic in regards to "external settings" like our core settings. Starting wi

[2018-10-02 12:18] r10s commented on #65
yes, we should use a correct version number.

wrt versionCode: i would just leave it "as is" for now and bump it with the next release - otherwise i have to re-setup my test devices :)

i think before the "final" release, we will use another applicationId anyway, so the versionCode is probably not the biggest issue.

might also be that we make android-dev an "official" update to the old Telegram-U

[2018-10-02 12:28] r10s commented on #14
no, we can remove them.
i also cleaned up the chats activity yesterday.

[2018-10-02 12:30] r10s commented on #64
@Boehrsi i will do the suggested change and close this issue then.

[2018-10-02 12:41] Boehrsi commented on #14
Added the security check to the backup and key export.

[2018-10-02 12:47] r10s commented on #14
great :)

[2018-10-02 13:08] Boehrsi commented on #14
Removed Settings / Notifications / Calls category. I would say the main part of the settings is now working as intended and we should close this issue for now. Other problems with the preferences could be tackled in newly created tickets. What's you opinion about this @r10s ?

[2018-10-02 13:11] Boehrsi commented on #64
@r10s great and and I'm glad that I could help. :)

[2018-10-02 15:42] #52 closed

[2018-10-02 15:42] #64 closed

[2018-10-02 15:47] r10s opened #66 "mark chat as noticed when being opened"

[2018-10-02 16:09] r10s opened #67 "remove "contact joined delta chat" from notification settings"
currently, we so not have such an event.
and, as we're compatible to other muas, this is not that important.

[2018-10-02 16:13] #67 closed

[2018-10-02 16:14] r10s commented on #14
also removed "contact-joined-deltachat", see #67, closing this now :)

[2018-10-02 16:14] #14 closed

[2018-10-02 16:17] r10s opened #68 "remove unused permissions, delay requests"
we should cleanup the app from unused permissions as sms-sending.

moreover, rights should be requested in the moment they are really needed, eg. the right to write the sd-card should be requested when a file is about being exported, see #19

[2018-10-02 16:19] r10s commented on #19
i think, the question is answered, todo-issue in #68, together with some permossion-cleanup

[2018-10-02 16:19] #19 closed

[2018-10-02 16:21] r10s opened #69 "show images, files, audio, video, documents in chat view"

[2018-10-02 16:22] r10s opened #70 "send image messages"

[2018-10-02 16:22] r10s opened #71 "send messages with documents attached"

[2018-10-02 16:23] r10s opened #72 "send voice-messages"

[2018-10-02 16:31] r10s opened #73 "draft handling"
this may require https://github.com/deltachat/deltachat-core/issues/214

[2018-10-02 16:31] r10s opened #74 "forward selected messages"
while signal allows forwarding only one message, we should change the ui to forward multiple selected message, the core supports this via dcContext.forwardMsgs(int msg_ids[], int chat_id);

[2018-10-02 16:32] #29 closed

[2018-10-02 17:54] r10s commented on #51
closing this for now, not sure in which direction this goes.

[2018-10-02 17:57] r10s commented on #50
to get some contrast, to unequal backgrounds, we may add a drop shadow to the bubbles, eg. by the old telegram background images or by the following code in message_bubble_background*.xml
[code]

[2018-10-02 18:49] r10s commented on #44
it's more an issue with slower devices. the animation is started at the same time as the activity is started, so there is not really a large delay.

eg. on my moto g everything is fine - and also the nexus 4 was getting better as the delta chat activity already uses less resources than signla.

[2018-10-02 18:49] #44 closed

[2018-10-02 18:50] r10s opened #75 "allow signal being installed on the same device"
currently, some permissions and providers use the same names

[2018-10-02 18:51] #75 closed

[2018-10-02 20:05] r10s opened #76 "add status/footer to "your profile" settings"
we forgot to add the status/footer setting to the "your profile" fragment.

the status/footer is a text that is added below each outgoing mail, it defaults to sth. as `Sent with my Delta Chat messenger`

for getting the text:

[code]

for setting the text:

[code]

[2018-10-04 06:57] Boehrsi commented on #76
I will tackle this one together with a colleague who will probably also join the OX-Delta efforts. He is currently learning Android development and I think this is a good starting point.

[2018-10-04 07:03] Boehrsi commented on #31
Is this one still valid as https://github.com/deltachat/deltachat-android-ii/issues/14 is fixed / implemented now?

[2018-10-04 07:08] Boehrsi commented on #37
Starting with this issue today.

[2018-10-04 08:44] r10s commented on #76
cool :)

[2018-10-04 08:59] r10s commented on #31
can be closed -
for further issues we'll create more precise issues :)

[2018-10-04 08:59] #31 closed

[2018-10-04 09:01] r10s commented on #37
cool :)
it it is not too much additional effort, a multi-select-delete would be great :)

[2018-10-04 09:03] r10s commented on #69
current state: documents and images are shown.
enlarging images and audio is missing. working on this :)

[2018-10-04 11:29] hpk42 commented on #37
On Thu, Oct 04, 2018 at 02:01 -0700, björn petersen wrote:

indeed, a general techqniue for multi-select would be great, eg
multi-select chats and archive/delete ... multi-select messages
and delete etc.

[2018-10-04 11:43] r10s commented on #37
these boths are already available in android-dev :)

[2018-10-04 12:09] r10s commented on #76
@Boehrsi when targeting this, can you also get/set the avatar image to the core? i think the ui is already there and the corresponding functions are dcContext.set/getConfig("selfavatar"), (just in core-queue :) - https://github.com/deltachat/deltachat-core/pull/341)

[2018-10-04 17:55] r10s commented on #37
@Boehrsi cool - cu tomorrow :)

[2018-10-04 22:08] r10s opened #77 "backup, manage keys does not work when system secret is disabled"
@Boehrsi then the system secret (patter, pin, fingerprint) is disabled (or set to "none"), the backup and manage key functions, which are protected by the system secret, do not work at all.

i think if the system secret is completely disabled by the users, it is fine not to ask for any secret in these cases as well.

[2018-10-05 11:28] Boehrsi commented on #37
Added as requested.

[2018-10-05 12:27] Boehrsi commented on #76
Can get closed

[2018-10-05 12:28] Boehrsi commented on #77
Totally true!

[2018-10-05 12:37] Boehrsi commented on #77
Fixed.

[2018-10-05 12:37] #77 closed

[2018-10-05 12:42] Boehrsi commented on #46
Will look into that one next week. :+1:

[2018-10-05 13:16] r10s commented on #77
great :)

[2018-10-05 13:53] r10s commented on #37
cool - will check this out asap :)

[2018-10-05 13:55] r10s commented on #46
great - maybe we can also have little a/v next week.
have a nice weekend in between :)

[2018-10-05 17:32] r10s commented on #37
@Boehrsi great job :)

esp. the "select all" followed by a delete which is sort of a cleanup, as contacts that are in use are not deleted at all (cc @Ampli-fier, i think this was one of your wishes some time ago :)

some nitpicking:

- when any contact is long-pressed, the items "new group" and "new verified group" are grayed out - i think the idea is to show that they cannot be selected. however,

[2018-10-05 20:01] r10s commented on #76
great, no we only heave to spear the avatar in deltachat-core (the status text is already spreaded)

i think this can be closed :)

[2018-10-05 20:01] #76 closed

[2018-10-05 20:16] Ampli-fier commented on #37
Yes, right.

As I couldn't code this for the UI I created a [Core cmdline function](https://github.com/deltachat/deltachat-core/blob/79ab1600da6e938030fc5c0ee0798153e7465248/cmdline/cmdline.c#L82) that does the same.

Really great to have this finally in the UI :) :+1:

[2018-10-06 09:06] r10s opened #78 "enlarge images, paging through images"
enlarge images, paging through images is still missing

[2018-10-06 14:18] Boehrsi commented on #37
@r10s happy to hear it's overall working as intended :). In regards to the small review request:

1. Graying out that "special values" was a bit of work, but removing that is totally no effort. The UI normally does nothing there and I thought adding something would be a good idea. But I think you are right, it does more or less the opposite of the intended.

2. Removing that gray background as req

[2018-10-08 08:44] r10s commented on #37
thanks, will have a look at this :)

[2018-10-08 08:47] Boehrsi commented on #46
Added the requested changes.

[2018-10-08 08:50] Boehrsi commented on #68
Will tackle that one today.

[2018-10-08 11:11] Boehrsi commented on #68
Should be fixed now.

[2018-10-08 11:15] Boehrsi commented on #50
Will tackle that one this week.

[2018-10-08 15:42] r10s commented on #68
looks good :)

[2018-10-08 15:42] #68 closed

[2018-10-08 15:46] r10s commented on #46
great :)

as mentioned, however, there is a funny screen appearing under some circumstances (see attached image).

- the screen appear to me for some seconds the first time the contacts are read.
- on subsequent opening of the contact list, it flashes only shortly
- when access to the contact are denied, it appears permanently with the button

![image](https://user-images.githubusercontent.com/980

[2018-10-08 17:11] r10s opened #79 "add qr show+scan activities"
the core offers easy methods to verify groups and contacts out-of-band (aka two-factor-auth) via QR codes.

the general flow is:

- one device, the "inviter", shows a QR code with the string content as returned by [string=getSecurejoinQr(chat_id)](https://c.delta.chat/classdc__context__t.html#aeec58fc8a478229925ec8b7d48cf18bf)
- a second device, the "joiner" scans the QR code and passes the scanne

[2018-10-08 17:13] #33 closed

[2018-10-08 17:15] r10s opened #80 "show "verified" icon in contact list and in chat title"
- verified contacts should be marked with a verified icon right of the name in the contact list
- verified groups should be marked with a verified icon right of the name in the conversation action bar

the verified state can be find out using DcContact.isVerified() and DcChat.isVerified()

for the icon i would use the same one as in the old codebase: ![verified](https://raw.githubusercontent.com/d

[2018-10-09 06:59] Boehrsi commented on #46
Okay, I will adjust this today. @r10s would you ping me if the core update is ready? Thanks. :)

[2018-10-09 08:58] r10s commented on #46
@Boehrsi updated, `DcContext.addAddressBook()` results in a DC_EVENT_CONTACTS_CHANGED event which is already handled in the activity.

[2018-10-09 09:16] r10s commented on #37
@Boehrsi there is still a weird behavior on multi-selecting items:

- select the first contact (probably "A") -> select the _third_ contact -> deselect the third contact -> now, "New group" gets selected :)
- doing the same with the fourth entey results in a selected "New verified group"

moreover, having selected multiple contacts and clicking delete: this seems to delete only the first contact.

[2018-10-09 10:53] Boehrsi commented on #46
Great will integrate this now :).

[2018-10-09 13:41] Boehrsi commented on #46
Adjusted the loading in regards to the updated core and removed the "loading screen". If the user grants the permission the address book is loaded + delta contacts and if not, just the available delta contacts are loaded from the core. The user is ask for permission when entering the contact screen.

[2018-10-09 13:46] Boehrsi opened #81 "Delete all selected contacts not always working"
- Open the ContactSelectionList
- Select all
- Delete all

**Current behavior:**
Not all contacts are deleted

**Requested behavior:**
All contacts (without active conversation) should get delted

[2018-10-09 13:48] Boehrsi commented on #81
Fixed.

[2018-10-09 13:48] #81 closed

[2018-10-09 13:50] r10s commented on #81
great :)

[2018-10-09 13:52] Boehrsi commented on #37
https://github.com/deltachat/deltachat-android-ii/issues/46 and https://github.com/deltachat/deltachat-android-ii/issues/81 are fixing some of the problems. The strange highlighting issue remains. I will tackle the latter now.

[2018-10-09 14:15] r10s commented on #46
great - also that the permission can be denied and the app just uses the internal contacts then.

i think this issue can be closed :)

[2018-10-09 14:15] #46 closed

[2018-10-09 14:38] Boehrsi commented on #37
Should be fixed now. Finally. ;)

[2018-10-09 15:18] r10s commented on #37
great. i added the deletion in a thread in https://github.com/deltachat/deltachat-android-ii/commit/179e8173c97cf2ae7da6ad65bf3c95d47c4bde5c - feel free to correct me if this is not good android/java style - i am no expert here :)

however, for now, this can be closed :)

[2018-10-09 15:18] #37 closed

[2018-10-09 16:07] r10s opened #82 "ask before deleting contacts"
similar to deleting chats and messages, the user should be asked before the contacts are deleted.

this is useful mainly for internal consistence, however, the text can also explain in a few words that
- it is not possible to delete contacts that are in use
- it is not possible to delete contacts from the internal address book (they will be re-added unless permission to contacts is denied)

[2018-10-09 22:13] r10s commented on #18
closing this here in favour to https://github.com/deltachat/deltachat-core/issues/376 which already dived deeper into the OpenSSL code.

[2018-10-09 22:13] #18 closed

[2018-10-10 08:46] r10s commented on #82
great :)

[2018-10-10 12:41] Boehrsi commented on #82
Added the dialog and guessed a fix for the UI problem as I can't reproduce it.

[2018-10-10 13:02] r10s commented on #82
great :)

i will have a look at it and otherwise try it to fix on my own (it happens on my device, so probably it's easier :)

[2018-10-10 13:11] r10s opened #83 "bad action-bar color after selection on contact list"
when long-clicking a contact and long-clicking again to deselect, the status-bar-part of the action-bar stays grey instead of turning green again. disabling by the back-button or the "x" in the action bar has the same effect.

it's a bit nitpicking, however, as it is directly in the face of the users, i think it is worth fixing it.

@Boehrsi reported in #82 that this does not happen on his device,

[2018-10-10 13:12] r10s commented on #82
ok, i close this issue and the ui glitch lives on in #83

[2018-10-10 13:12] #82 closed

[2018-10-10 13:53] #83 closed

[2018-10-10 13:58] Boehrsi commented on #79
Will start porting this feature tomorrow.

[2018-10-10 13:58] Boehrsi commented on #80
Will add this tomorrow.

[2018-10-10 14:12] Boehrsi commented on #24
Is this one still valid? Can't reproduce it.

[2018-10-10 14:37] r10s commented on #24
jupp still crashes for me, probably easy to fix, i will target this.

the larger issue is that the search is not working at all - but i think this is another issue.

[2018-10-10 14:38] r10s commented on #80
cool :)

[2018-10-11 13:15] Boehrsi opened #84 "Set minSdkVersion to 19"
As currently only 3.8% are below that mark and a lot of APIs are only usable on 19 or above I would highly suggest to update the minSdkVersion. Would that be fine for you @r10s?

[2018-10-11 14:39] r10s commented on #84
i would not increase this without having a concrete reason :)

[2018-10-11 14:40] r10s commented on #84
[](url)

[2018-10-11 14:40] r10s commented on #84
sorry

[2018-10-12 09:20] Boehrsi commented on #50
We added some stuff the to proguard config to avoid crashes.
We should decide about how the user can reset / unset the background. We could add just another option to unset the background. We haven't added a preview for the background, as the user can see it on the chat screen anyway.

[2018-10-12 09:21] Boehrsi commented on #50
The feature itself is implemented and working now.

[2018-10-12 09:55] r10s commented on #84
i see :)

which are these functions?
and aren't there ways to use them only if they are available?

in general, i would like to postpone the decision of raising the min-requirements a bit until we have more concrete information about the read usage in our user group.
i can imagine that these 3.8% can be much higher in some groups we may want to target.

[2018-10-12 11:15] Boehrsi commented on #50
We could also add a preview screen which allows the user to set / unset the background, similar to the old app.

[2018-10-12 11:48] r10s commented on #50
i also think that is not really important.
but maybe we should use a non-white default background if we change the colors of the bubbles.
maybe just the one from the old app, at least until we find sth. better :)

[2018-10-12 13:01] r10s commented on #50
shall the selected background already be shown?
i cannot see it :)

wrt. preview: yes, sort of preview would be helpful, however, maybe a mini-preview in the "Appearance" overview is sufficient? right place in the "Chat-preview" row, analog under the name of the Theme and the name of the Language?

this way. the user would get immediate feedback that sth. is selected without the need of additional

[2018-10-12 13:50] Boehrsi commented on #50
Good ideas and yes it should be already shown. Worked on the test phone, but also not working on mine, potentially something got lost during commit / push stuff. @florianhaar and I will adjust that on Monday, including some preview / reset adjustments.

[2018-10-12 13:52] Boehrsi commented on #80
Added the verified state for:

- Conversation / chat list entries (behind the name / group name)
- Conversations / chats (behind the name / group name in the title)
- Contact list (behind the name)

[2018-10-12 14:12] Boehrsi commented on #84
I will collect some examples on Monday. It's often possible to work around the minimum API requirements by manually creating some stuff, but this often leads to faulty re-implementations of existing stuff, which can be dangerous especially in the security area.
I totally understand that raising the minimum requirements is never "good" in regards the users, but sometime it should be done. I'm total

[2018-10-12 15:38] r10s commented on #84
perfect :)

[2018-10-12 16:07] r10s commented on #80
checked - perfect - closing :)

[2018-10-12 16:07] #80 closed

[2018-10-13 14:56] #66 closed

[2018-10-13 16:15] r10s opened #85 "show correct 'from' in group chats"
group chats show the name of the chat instead of the name of the sender above messages.
also the avatar is the group avatar, not the avatar of the sender.

[2018-10-13 20:02] sbadux opened #86 "DeltaChat Desktop messages are not readable on the Android II app"
Hello,I've tried to chat between DeltaChat Desktop (Ubuntu 18.04) and DeltaChat Android II (Android 8.0, Deltachat v.0.0.2). The desktop version can read/send messages, but the Android II version can only send messages. The replies from the Desktop are not readable and them are shown as .bin attachments

This is what I see from the Desktop version
![image](https://user-images.githubusercontent.com

[2018-10-13 20:34] #85 closed

[2018-10-13 20:39] r10s commented on #86
it's a little bit hard to test with alpha versions on both ends.

i think we have to find out first, which end causes the problem.

does delta-dev <-> normalDelta or delta-desktop <-> normalDelta work for you?

apart from that, the shown file names look very weird - are you sure everything in between, on the server and so on works well?

[2018-10-14 12:53] sbadux commented on #86
In Gmail (the receiver) I find the two email with these 2 attachments.

This is what I see in Gmail web

![image](https://user-images.githubusercontent.com/28478027/46916871-e22bec80-cfc0-11e8-9321-a626cd236e0b.png)

[2018-10-14 18:11] sbadux commented on #86
Hello @r10s. I try to recap in this way:
FROM Android TO Desktop -> the message is correctly displayied in the Desktop client
FROM Desktop TO Android -> the message is displayied as 2 attachments in the Android client

If i try to read them from the webmail (not in DeltaChat):
FROM Android TO Desktop -> the message is **not** encrypted
FROM Desktop TO Android -> the message is encrypted

[2018-10-14 20:32] r10s commented on #86
@sbadux thanks for the details. this will help a lot.

do you have the chance to try if the same problem arises when using the android-app on both ends?
might be that the core at all does not work well with outlook.

[2018-10-15 08:15] Boehrsi commented on #50
We found the problem and fixed it. Now we adjust the UI. We will add:

- Some sort of preview
- The possibility to set an image or reset to the default one
- We will add some elevation to the chat bubbles
- We will add a grey / white shade to the chat input text field, so the written text is also readable on dark backgrounds
- We will add an info to the preference category summary which type (defa

[2018-10-15 08:45] Boehrsi opened #87 "Adjust the CreateProfileActivity UI"
We should adjust the UI to the default patterns used within the app.

- "x" icon as up icon
- "check mark" icon at the right top should replace the current "finish" button
- The current "finish" animation should stay
- A multi line input view should be used for the status text input

[2018-10-15 08:49] r10s commented on #50
great :)

- wrt chat bubbles: no need to do sth. there, they will change completely the next days.
- wrt input field: the input field should just be not transparent, it should stay white

[2018-10-15 09:29] violoncelloch commented on #50
I would leave the default to just white or black as it is now... otherwise changing to the dark theme would present a strange combination with the backgroundimage of the "old deltachat"

[2018-10-15 09:50] r10s commented on #50
the bubbles will turn to white/lightGreen instead of colored, so a white background is no good idea.

for the dark theme, the bubbles could turn to black/darkGreen, so everything is fine.

we will see, how the background above works with a dark theme, maybe we could just darken it a bit, maybe we can do this even for user-defined backgrounds then. however, the dark theme is not the main problem he

[2018-10-15 09:54] r10s commented on #50
in general: we can refine things later, for now, it's more to "get things done".
and as we got good feedback for the layout of the old ui, there is no need to change "everything" there. of course, these layout questions can be discussed in the forum at https://support.delta.chat :)

[2018-10-15 10:49] violoncelloch commented on #50
I just found the design of the actual dev version much better than the "old" one...

[2018-10-15 11:46] r10s commented on #50
@violoncelloch yes, design questions are hard :)

as said above, for now, we'll change the background and see how things evolve from that :)

[2018-10-15 13:50] Boehrsi commented on #79
Showing the QR-code now works, I just need to add it at some other places. Scanning also works, but I have to add some UI information for the user, regarding the state of the process (like implemented in the ChatlistActivity in onActivityResultFragment() in the old client). But overall everything seems to work.

[2018-10-15 14:01] r10s commented on #79
cool :)

looking forward to test this out :)

[2018-10-15 14:55] r10s opened #88 ""Path too large to be rendered into a texture""
getting the error "Path too large to be rendered into a texture" when rendering some longer text via ConversationItem.

As a result, for these items, the text is shown completely but the background is not drawn.

https://stackoverflow.com/questions/27444387/issue-on-openglrenderer-path-too-large-to-be-rendered-to-a-texture

[2018-10-15 19:00] testbird commented on #79
@Boehrsi Maybe see if you can implement this better in one "activity": https://github.com/deltachat/deltachat-core/issues/247

[2018-10-15 19:45] violoncelloch commented on #50
Of course...
I just think the design is better with a plain background. Of course the user should have the option to set an other background...
I would go for plain background as default and propose the background from the "old deltachat" as first option

[2018-10-15 20:15] violoncelloch opened #89 "Updatet to 0.0.3; still shows v0.0.2 in Settings"
updated to dev 0.0.3, but dc settings still show 0.0.2
Is this a problem of dc or did my instance not update correctly?

[2018-10-15 21:13] r10s commented on #89
it was my fault: forgot to increase the internal version number, sorry.

[2018-10-15 21:14] #89 closed

[2018-10-15 21:45] r10s commented on #79
hi @testbird - we should not go back to discussion/feature-request level here currently.

although enhancements may make sense, and probably will come, the most important thing _currently_ is to get android-dev running and stable so that it can replace the current app.

there are tons of good ideas, however, please note that we do not have endless resources ;)

so, i think it makes sense to try to

[2018-10-15 22:38] testbird commented on #79
Mostly things are only hard if you're not up to them, so it totally depends on @Boehrsi's flexibility and capacity.

[2018-10-15 22:49] testbird commented on #79
I mean experience has shown, much can be gained by using even scarce ressources to solve things that are more easy *in the right moments*, and more is lost or sunk by living with flaws or even engage in  cutting down endevours that only lead to things coming back harder if not fail.

[2018-10-15 23:11] r10s commented on #79
it's just that https://github.com/deltachat/deltachat-core/issues/247 _does not solve the same problems_ that are solved by https://countermitm.readthedocs.io/en/latest/

[2018-10-16 06:34] violoncelloch commented on #89
Ok, thank you

[2018-10-16 06:52] hpk42 commented on #79
On Mon, Oct 15, 2018 at 16:26 -0700, testbird wrote:

Not quite true. "Simple Two-way scanning" would not provide a way to easily
construct "verified groups" which has been user-tested positively
a number of times now.  Also there are countermitm modifications
upcoming that allow remote contact or group setup through "secondary" channels
and not just QR-codes (Signal messages, usb-stick etc.).

[2018-10-16 07:38] r10s commented on #89
that you for the hint. i'll try to be more careful the next time :)

[2018-10-16 08:33] violoncelloch commented on #69
For me audio messages show "ogg" as text with the message
And on playing the time bar doesent avances
Also if i reel forwards manually, the audio doesn't play anymore

[2018-10-16 08:39] #88 closed

[2018-10-16 08:43] r10s commented on #69
this is already fixed by https://github.com/deltachat/deltachat-core/pull/384 , not sure, why there are legacy strings on your device, but for the future, it should be fine :)

i think this is related to the missing playing time.

[2018-10-16 09:34] violoncelloch commented on #69
Cool

Yes, I just wanted to add it here

[2018-10-16 09:42] r10s commented on #87
@florianhaar great job :) much better now, esp. the multi-line input was really needed :)

some nitpicking from my side:
- can we have a little more space between the avatar and the status input field? currently, the "Status text" headline looks like it belongs to the avatar.
- maybe we can show the title of the name fields also if a name is entered
- i would remove the keyboard-smiley-toggle-butt

[2018-10-16 11:08] Boehrsi commented on #79
@testbird For the moment I'm trying to port the existing flow and further extensions / optimizations should be done later, as I'm don't think I'm familiar enough with the whole flow and the core to improve the current workflow.

[2018-10-16 12:03] Boehrsi commented on #84
Just some examples:

- public void startActivity(Intent intent, Bundle options) API 16
- Manifest.permission.READ_EXTERNAL_STORAGE API 16
- Intent.ACTION_OPEN_DOCUMENT API 19
- WindowManager.LayoutParams.FLAG_TRANSLUCENT_STATUS API 19
- A general search for @TargetApi show how much "work arounds" are already in place. Not a problem per se and sometimes this is required, but this clutters the code

[2018-10-16 12:05] r10s commented on #84
perfect, so we come back to this later. i'm fine with that. and thanks for the overview, this is very helpful :)

[2018-10-16 12:05] #84 closed

[2018-10-16 12:44] r10s commented on #87
@florianhaar perfect :)

i think, sooner or later we should also open an issue to move the "Login" button of the RegistrationActivity the same way, however, this is another issue and this one can be closed :)

[2018-10-16 12:44] #87 closed

[2018-10-16 12:51] florianhaar commented on #62
will tackle this one tomorrow

[2018-10-16 12:56] Boehrsi commented on #79
Needs a final test with @florianhaar tomorrow to check if the UI behaves as requested, but it should be more or less ready. @r10s I would ask you to review that one, as I don't want to mess up those security things. I will ping you tomorrow when everything is "ready".

[2018-10-16 12:57] r10s commented on #62
great - for the image, maybe just copy+rename the one from the empty chatlist, i think the graphics will be reworked in all later on.

[2018-10-16 12:57] Boehrsi commented on #55
Will tackle this one as soon as #79 is finished.

[2018-10-16 13:36] r10s commented on #55
great :)

[2018-10-16 13:37] r10s commented on #79
@Boehrsi cool :) and, yes, please ping me tomorrow :)

[2018-10-17 08:04] hpk42 commented on #69
On Tue, Oct 16, 2018 at 17:20 -0700, björn petersen wrote:

how does the voice-codec by telegram come into play for showing media files with "dev"?
for audio-recorded messages?  Doesn't android offer something itself for transcoding/recording?

IMHO would be nice to be able to stick with ogg and rather get a better library if feasible.

[2018-10-17 09:31] Boehrsi commented on #79
I added a "final commit" (all old ones are obsolete now) on https://github.com/deltachat/deltachat-android-ii/tree/qr-verify-79 branch. It seems to be working (tested it with @florianhaar ) and it also uses a similar UI to the old Delta app.
One thing is missing and I think it would be better if you add this @r10s. After a successful scanning of the QR code, when the ConversationActivity should ge

[2018-10-17 13:37] r10s commented on #79
@Boehrsi @florianhaar thanks for the work and for the infomation, i will have a look at it

[2018-10-17 14:10] r10s commented on #69
just by testing: record-on-android-old -> playback-on-android-dev

the playback works, however, the playtime is always 0. i think, signal just uses the system libs for playback, so, this issue may be only on some devices.

but before investigating more here, i would check which format the signal voice recording generates. if it is mp3 with a low bitrate, maybe it is not the worse decision.
the use

[2018-10-17 15:08] r10s commented on #79
have just rebased the branch on master

[2018-10-17 18:49] sbadux commented on #86
Sorry, I can do this test at the moment but I'll try asap

[2018-10-17 21:55] r10s opened #92 "edit groups"
editing groups means:
- adding and removing members
- changing the group name
- changing the group image

for all of these actions, a chatId is needed and the corresponding functions are DcContext.addContactToChat(), DcContext.removeContactToChat(), DcContext.setChatName() and DcContext.setChatProfileImage()

the ui for all these functions can be the same as for creating a group, GroupCreateActivi

[2018-10-17 21:57] r10s commented on #79
@Boehrsi @florianhaar cool, very good pass. after moving starting the activity ConversationActivity.class back to the main thread, basically everything works.

moreover, we're listening also to the DC_EVENT_SECUREJOIN_JOINER_PROGRESS events and update the text on the joiner side (the that that has scanned).

merged in https://github.com/deltachat/deltachat-android-ii/pull/91 , so, we're on master

[2018-10-18 07:58] Boehrsi commented on #79
Will add the missing stuff now :).

[2018-10-18 08:54] Boehrsi commented on #79
Added the requested changes.

[2018-10-18 09:01] florianhaar commented on #62
added the information in empty chats

[2018-10-18 09:09] Boehrsi commented on #92
Will tackle that one, starting now.

[2018-10-18 09:09] Boehrsi commented on #55
Delayed after edit groups #92

[2018-10-18 09:13] Boehrsi commented on #79
As requested closing this an starting with #92 @r10s .

[2018-10-18 09:13] #79 closed

[2018-10-18 09:55] r10s commented on #79
@Boehrsi perfect :)

[2018-10-18 12:16] hpk42 commented on #70
what is actually missing? I can  take/select a photo already but it's not ultimately send -- is a call into deltachat-core missing there or is it more involved?

[2018-10-18 13:16] r10s commented on #70
nothing is missing, it's just not yet done :)

i think i will do this together with handling of complex-drafts, https://github.com/deltachat/deltachat-core/issues/214, however, this is not hard requirement.

[2018-10-18 14:16] Boehrsi commented on #92
Extended our _DcContact / DcChat to Signal models_ flow and added the form prefill for group editing. The actual actions should follow tomorrow.

[2018-10-18 17:18] r10s opened #93 "Verify icon layout broken"
not sure which, but one of the last commits has mixed up the verification icon layout.

- in the ConversationActivity (ConversationTitleView) the verified-icon is is shown very small, i am pretty sure this was correct some days ago
- the width of the title is limited by the width of the subtitle (eg. "A longer group name" is truncated as the subtitle is shorter ("2 members")) - not sure if this wa

[2018-10-19 06:54] Boehrsi commented on #93
Will have a look. I'm pretty sure the last commit broke it. The problem is that the layout structure there is pretty annoying. Aligning the item right to the text worked before, but if the group name is longer than the screen the verify icon is pushed out of the screen. I tried to fix that with the last commit, but it seems it didn't worked out. Will tackle that now.

[2018-10-19 07:12] florianhaar commented on #50
Added a "Custom" or "Default" summary in the preferences

[2018-10-19 08:32] florianhaar commented on #74
Will tackle that one today

[2018-10-19 08:34] Boehrsi commented on #93
The issue should now be fixed, but the verify icon will always be aligned to the right inside the parent, not beside the group name / user name. Using the current UI this is a limitation. Another approach would be putting the verify icon to the left of the group name / user name but I think this is fine for the moment.

[2018-10-19 09:35] r10s commented on #93
great, looks very good now :)

to right-align the verifiy-icon just right of the text, i am wondering if we cannot use just setCompoundDrawablesWithIntrinsicBounds().
Currently, it's unused in ConversationTitleView.setTitle(), but even if we add "mute" to the left, the right one is free :)
however, for now, this is not the most important part and this issue is closed :)

[2018-10-19 09:35] #93 closed

[2018-10-19 09:36] r10s commented on #74
great :)

[2018-10-19 09:49] r10s commented on #50
@florianhaar great job, looks very good.

wrt to a non-white default background as mentioned above and also to changing the bubble layout:

i would not do the changes now.

it looks better as i have expected, so, i would like to close this issue now and just work with the current options for a while and start the next iteration after that.

[2018-10-19 10:00] r10s commented on #62
@florianhaar great job :)

thinking it over, i also think that a graphic is not needed, esp. when it comes to customized backgrounds.

at a given point we should maybe tweak the background to be semi-transparent and use this background also for the dates and for the system messages (so that they do not interfere with custom backgrounds), but that's another issue that can be opened if really needed

[2018-10-19 10:00] #62 closed

[2018-10-19 10:37] r10s commented on #92
btw. there is an outdated comment in ConversationActicity.handleDisplayGroupRecipients() that says, profile should be used.

i think, for now, we should just use exactly this button for editing groups :)

[2018-10-19 12:04] Boehrsi commented on #93
Great @r10s :) and yes the setCompoundDrawablesWithIntrinsicBounds could get used for one case (already tried this while working in that area) but the other one already uses images bound by setCompoundDrawablesWithIntrinsicBounds on the right of the text as far as I saw. We could think about some general UI adjustments / clean ups to fix that problem completely.

[2018-10-19 12:08] Boehrsi commented on #92
A lot of distractions / meetings / other projects, so no real progress here :-1: . Will continue next week, as the next meeting already approaches.

[2018-10-19 13:08] r10s commented on #70
closed by https://github.com/deltachat/deltachat-android-ii/commit/7bcfec2367435392d644f73b01a17fa292f885b7

[2018-10-19 13:08] #70 closed

[2018-10-19 13:08] r10s commented on #71
closed by https://github.com/deltachat/deltachat-android-ii/commit/7bcfec2367435392d644f73b01a17fa292f885b7

[2018-10-19 13:08] #71 closed

[2018-10-19 13:08] r10s commented on #72
closed by https://github.com/deltachat/deltachat-android-ii/commit/7bcfec2367435392d644f73b01a17fa292f885b7

[2018-10-19 13:08] #72 closed

[2018-10-19 13:09] r10s commented on #92
okay, cu next week then :)

[2018-10-19 19:58] r10s commented on #62
just noticed that the background is already semi-transparent as the old app
and fits perfectly with any background. very cool :)

![2018-10-empty-chat](https://user-images.githubusercontent.com/9800740/47240896-14d34c00-d3ea-11e8-9a02-0cc09a386392.png)

[2018-10-19 20:05] r10s commented on #92
just a little note:
currently, the action-bar-title of the "New group" and "New verified group" is always "Edit group".

[2018-10-19 21:04] r10s commented on #92
fixed this.

[2018-10-20 01:48] Jikstra opened #94 "Chats aren't getting synced"
**Delta Chat version**

0.0.6

**Expected behavior**

- Chats from desktop/mobile getting retrieved on newly activated/synced device

**Actual behavior**

- No synced/old chats :(

**Steps to reproduce the problem**

1. …
2. …

**Screen snapshots**

**Debug logs**
<details>
<summary>Logs</summary>

[code]
</details>

[2018-10-20 09:42] r10s commented on #94
hi @Jikstra -

yes, _chats_ are not synchronized by the core currently, only _messages_ as follows:

- outgoing messages should be synchronized completely after ~30 minutes.
- incoming messages should pop up at once on all devices

these synchronized messages may create a chat then, it depends on whether the contact is know.

to improve this, a first step is our single-folder approach https://gith

[2018-10-20 10:18] r10s opened #95 "handle contact requests"
if the chatlist contains a chat with the id `DC_CHAT_ID_DEADDROP` (may be shown as "Mailbox"), this chat should be handled slightly differently:

- [x] the background and layout should differ, it should more look like a notification that can be clicked away, ~~maybe a "close" button somewhere should be added~~ we use the "archive-swipe" for closing
- [x] the REQUESTER can be retrieved using `dc_ms

[2018-10-20 11:32] Jikstra commented on #94
Okay didn't know that but makes sense. Let's discuss this on deltachat-core, maybe even a deltachat-meta repo or something to discuss cross platform behaviour. Let's get this closed :)

[2018-10-20 11:32] #94 closed

[2018-10-20 11:38] Jikstra opened #96 "After autocrypt exchanging private key messages are still not readable"
**Delta Chat version**

0.0.6

**Expected behavior**

I can read encrypted messages after i did an autocrypt sync. Doesn't make any difference if I sync with desktop or "old android" client.

**Actual behavior**

It still says "Message was encrypted for another setup"

**Steps to reproduce the problem**

1. …
2. …

**Screen snapshots**

**Debug logs**
<details>
<summary>Logs</summary>

[code]
</de

[2018-10-20 11:47] r10s commented on #96
but are _future_ messages decrypted correctly?
deltachat-core does not try to re-decrypt _exiting_ messages currently after key changes.

[2018-10-21 05:44] sbadux opened #97 "remove unneeded permissions"
Hello,
when I've installed the last v0.0.6 I've noticed that the app requires too many permissions. The app really needs all of them?
I'm just asking because the permissions are important for a privacy-oriented app.

E.g. Bluetooth permission is required?

![1](https://user-images.githubusercontent.com/28478027/47263588-bfd82880-d504-11e8-8e98-1905f5f4320d.jpg)
![2](https://user-images.githubuserc

[2018-10-21 09:16] r10s commented on #97
yes, the app still uses too many permissons - as well as many dead code.

the current requirements come from the signal-android app which we've used as a template.

once things stabilize and we have the features we really need, we will try get rid of the dead code as well as the permissions. it's a rather hard job as the dead code and it's permissions is partly interwinded with the actually needed

[2018-10-21 10:52] r10s commented on #50
two issue i encountered:

- when the theme is set to "dark mode", the input field text+controls do not contrast to the background, it's more or less  "white on white"
- the the emoticons drawer is opened, the background is the custom background instead of back/white

i think, both issues come from setting the background of the input entry just to "white". before we introduced custom backgrounds, i

[2018-10-21 11:14] r10s opened #98 "semi-transparent background for date and system messages"
between the messages, the date (once a day) and system messages (as "user verified") are shown.

these messages are shown with a black text (white in dark mode) and a transparent background which do not contrast good with cusomized backgrounds.

i would suggest to show then with a semi-transparent background, maybe we can use the same background as for "first message may take a while", #62, for in

[2018-10-21 20:20] r10s opened #99 "right align lock/time/deliveryInfo in images"
lock/time/deliveryInfo are right aligned in normal messages, so they should be in images.

[2018-10-21 21:51] r10s opened #100 "call "markseen" on messages scrolled into view"
DcContext.markseenMsgs() should be called for messages _really_ shown to the user.

calling this function will result in sending a read receipt, if requested by the sender.

[2018-10-21 22:24] Jikstra commented on #96
Have to check it out again, but if i remember correctly, it didn't work with messages i sent to myself or in any groups. Will investigate this again.

I think this would be very useful, maybe together with syncing old messages :P

That's what made me wonder, normal android nor desktop do problems for me.

[2018-10-21 22:27] r10s opened #101 "allow unblocking contacts"
contacts may be blocked by answering "never" in the contact request's quesion "Chat with NAME?"

so, we need an method to _unblock_ contacts.

- there is already an item at settings / privacy
- the corresponding activity show the list of blocked contacts (get be retrieved with DcContext.getBlockedContacts()
- a click on a blocked contact should ask "Unblock contact?"
- if so, the contact can be un

[2018-10-22 07:59] angelo-fuchs opened #102 "Ability to disable read receipt"
delta-android had an option to disable the sending of read-receipts, we should have that option in delta-android-ii too.

[2018-10-22 12:59] r10s commented on #102
there is an option at "settings / privacy / Read receipts".

[2018-10-22 14:43] r10s commented on #92
great :)

i first did not found it as i was always clicking on the group-icon :)
i would suggest to move "edit group" there; i do not think there is a need for an extra recipient list

one minor thing:
when the edit-group activity is opened, the group name is focused and the keyboard appears.
while this makes sense when creating a group (and should not be changed there) i would not open the keyboa

[2018-10-22 15:07] r10s commented on #92
'edit group' can be opened by the icon now (ifRoom :)

[2018-10-22 16:02] r10s opened #103 "crash when creating a new group"
just a normal group with one member and without an avatar -> crash

[2018-10-22 16:10] r10s opened #104 "imlement archive/delete chat from chat-activity"
make the menu options work :)

[2018-10-22 16:52] Boehrsi commented on #92
Ah sorry overread that requirement :/.

[2018-10-22 16:52] Boehrsi commented on #103
Strange I'm pretty sure I tried that one, will look into that right now.

[2018-10-22 17:09] Boehrsi commented on #103
Next time I should try to "clean up not so much". Just removed a null check to much. Sorry. Fixed.

[2018-10-22 17:09] #103 closed

[2018-10-22 21:00] r10s commented on #103
just wanted to come back to fix this and noticed it is already done :)
thanks :)

[2018-10-22 21:15] #104 closed

[2018-10-22 21:16] r10s commented on #92
no problem :)

[2018-10-22 21:17] r10s commented on #48
also SELF should be shown in the member list, at least when editing groups, not sure for group-creation.

[2018-10-22 21:18] r10s commented on #95
what's left: the avatar beside the deaddrop entry should be the one from the contact, not of the group.

[2018-10-23 09:27] r10s opened #105 "draw verified icon directly right of group names"
i think this should be possible with a LinearLayout

[2018-10-23 10:01] #105 closed

[2018-10-23 10:05] r10s opened #106 "draw a horizontal line between chats in chatlist"
there should be a horizontal line between chats in the chatlist, as in the old layout which was reported by many users to be "good".

also, the name and the excerpt should have a larger border to the right time/delivery column.

[2018-10-23 10:18] r10s opened #107 "use a plus-icon instead of the pencil in the chatlist"
the floating button should be plus sign; the pencil implies "writing" or "messaging" which can be done in any chat, no need to create a new one for this.

[2018-10-23 14:09] #106 closed

[2018-10-23 20:53] #107 closed

[2018-10-23 21:16] #95 closed

[2018-10-24 21:42] r10s opened #108 "show global information somewhere"
the result of dc_get_info() should be shown somewhere as this is very useful for debugging o/ @ralphtheninja :)

i would suggest to add them atop of the log that can be viewed at settings / advanced / submit debug log.

[2018-10-25 10:17] angelo-fuchs commented on #78
I setup a branch for the current development of this:
https://github.com/deltachat/deltachat-android-ii/tree/media_gallery

[2018-10-26 19:12] happyreacer opened #110 "cant See Massage buttons in dark disign"
In the dark design cant see the icons for a audiomessage, attachements and cliparts or smileys.
I think there are need  more contrast ;-)

[2018-10-27 12:07] r10s commented on #110
hi @happyreacer thank you for your post.

i think this is a duplicate of https://github.com/deltachat/deltachat-android-ii/issues/50#issuecomment-431658734

feel free to comment there or to re-open this issue if you meant something else :)

[2018-10-27 12:07] #110 closed

[2018-10-27 12:07] #102 closed

[2018-10-27 19:55] happyreacer commented on #110
Ah thank you. It is a duplicate.

[2018-10-29 09:36] Boehrsi commented on #92
Adjusted the keyboard state, so this ticket should be ready. Will switch to avatars #55 now, so the edit function for group avatars is actually visible.

[2018-10-29 11:00] r10s commented on #92
@Boehrsi great :)

one thing i just encountered: when editing a group, the "show qr veryify code" button is not available.

it should be there and show the qr-code generated from getSecurejoinQr() with a set chat_id then. this should work by opening the QrShowActivity with the extra chat_id set.

also, we should to check if the list of contacts is updated on contacts added this way. might be alrea

[2018-10-29 14:45] Boehrsi commented on #55
- [x] group chats, see dc_chat_get_profile_image() resp. DcChat.getProfileImage()
- [ ] profile images of contacts if set in the system address book

[2018-10-29 15:18] Boehrsi commented on #92
@r10s will look into the remaining tasks tomorrow. The self reference is filtered out explicitly, as it's also not there when creating a group. I'm not sure if everything works well if one removes the self reference.

[2018-10-29 18:05] r10s commented on #92
this is no problem, it's just the same as leaving the group.

[2018-10-29 19:55] #78 closed

[2018-10-29 21:21] r10s commented on #78
cool :)

[2018-10-29 22:29] r10s commented on #55
great to push this forward.

@Boehrsi currently, for all groups _without_ an image set, a blue round icon with a group image is set.
i think, it is better to have the colored-fallback-icons-with-first-groupname-letter as before here as it makes groups in the lists easier distinguishable.

nb: the group icon (without circle then) could be added beside the title instread - as in the old telegram ui:

[2018-10-30 07:28] Boehrsi commented on #55
@r10s makes sense, will adjust that today while fiddling around with the avatars provided by the system.

[2018-10-30 13:11] Boehrsi commented on #55
- Adjusted the UI in regards to the screenshot above
- Group and profile avatars are now loaded similar (profile images are not yet loaded)
- Prepared ContactAccessor to also load photo ids / uris from the local phone book

As soon as DcContact.setProfileImage() / DcContact.getProfileImage() is working I would start adding the following:
- [ ] Copy phone book contact photos to a delta directory
-

[2018-10-30 13:14] Boehrsi commented on #55
In general I changed some stuff so we just gather all images needed and copy them over to our directories. There we can load and control them without extra work. This is done for both, group images and also profile images. If we add later something like "server side image loading" we can easily fit this in.

[2018-10-30 15:20] Boehrsi commented on #92
- [x] Add qr button on verify edit
- [x] Show qr code for the selected group
- [x] Show "ME" and allow to remove "ME"
- [ ] Automatically remove the group if "ME" leaves
- [ ] Check for list update on QR join

[2018-10-30 15:24] Boehrsi commented on #92
@r10s calling dcContext.deleteChat() on chats where I left makes sense right?

[2018-10-30 15:34] r10s opened #111 "opening preview from the media gallery opens the wrong image/message"
in the gallery opened from "All media",  a click on one image enlarges opens the wrong image/message, more concrete, it seems to be the image/message with the same index _counted from the end_.

@angelo-fuchs :)

[2018-10-30 15:38] r10s commented on #92
@Boehrsi i would treat leaving a chat and deleting a chat as two independent actions.

leave only: maybe you do not want to get more messages in a chat, but keep/archive the existant onces.

delete only: deleting a chat is just the opposite from creating it. new messages for the chat will arrive.

it may make sense, however, to ask the user on deletion whether he also want to leave a chat.

[2018-10-30 16:02] r10s commented on #55
great :)

some nitpicking:

- i would prefer to have the group icon black on white (for light theme) and white on black (on dark theme) resp. just using the font color
- the background of the colored-fallback-icons-with-first-groupname-letter is always blue, i think it would be better to have them in different colors as well

wrt photoId/Uri: i think, currently, this is not needed. we can start st

[2018-10-30 16:29] hpk42 commented on #92
On Tue, Oct 30, 2018 at 08:42 -0700, björn petersen wrote:

FWIW it sounds to me like "delete chat" really means "delete chat messages" here.
if i select "delete chat messages" i would not be surprised to see new messages
arrive afterwards.  So maybe it's also a matter of wording in the UI?

[2018-10-31 10:34] r10s commented on #92
yes, improving the wording will probably make the options much clearer.

however in fact it would be "Delete messages" sounds more like "Empty view" to me -  so i would not really expect the chat being removed from the chatlist.
otoh it's probably better than "Delete chat" in this case :)

[2018-10-31 11:13] r10s opened #112 "unlocking does not work"
when enabling "Settings / screen lock", and Delta gets locked, there is no possibility to unlock it and go to the chatlist, chat or whatever. instead the unlock screen is shown over and over.

this has worked some time ago, see #42, and the bug was probably introduced by some other changes.

@Boehrsi i think you know the related code best - maybe you can have a look at his?

[2018-10-31 12:42] angelo-fuchs commented on #32
Open:
- [ ] tapping on notification should open deltachat and navigate to chat (if single) or chatlist (if multiple)
- [ ] tapping 'Answer' on notification opens the instant-answer overlay, but that is not working atm.

tbd: should swiping do anything?

[2018-10-31 12:48] r10s commented on #32
i think swiping the notification shouldn't do anything but removing the notification from the list.
not 100% sure, but i think this was also the behavior on telegram-delta.

[2018-10-31 12:56] Boehrsi commented on #112
Strange, will have a look tomorrow as today we have Holiday ☺ and i'm not at my PC right now.

[2018-10-31 12:59] r10s commented on #112
@Boehrsi cool - and have some nice holidays :)

[2018-11-01 07:54] Boehrsi commented on #112
Should work again @r10s

[2018-11-01 07:59] Boehrsi commented on #92
@r10s okay :), I will just keep the open chat then. Additional wording / UI stuff should probably be done in another ticket or after some initial testing.

[2018-11-01 09:06] Boehrsi commented on #92
Added the remaining verify logic. So the general edit group functionality should be ready now.

[2018-11-01 09:43] Boehrsi commented on #55
Added the color adjustments. Now starting with the loading of phone contact avatars.

[2018-11-01 13:44] r10s commented on #92
cool :)

[2018-11-01 15:20] Boehrsi commented on #55
Nearly done and already working in the "contact / new chat" activity. I'm currently struggling to apply the system contact images also for the conversation list + conversations + and so on.

[2018-11-01 19:33] angelo-fuchs commented on #32
So, it takes several minutes after a restart of my phone before the notification is displayed but it does.
If it actually start to bother users we should look deeper into this.

[2018-11-01 19:50] r10s commented on #32
great progress, anyway :)

[2018-11-02 07:58] Boehrsi commented on #55
- Added phone book avatars /  system contact images to the contact / new chat activity
- Prepared wrappers for setProfileImages / getProfileImages for contacts (so it should work pretty fast as soon as the core is ready)
- Played around with directly applying the system contact images everywhere in the app, but it would be kind of messy, so I postpone this until the setProfileImages / getProfileIm

[2018-11-02 10:15] florianhaar commented on #74
implemented the function to forward multiple selected message to a single person. It is not possible to forward the messages to a group, because there is no easy way to get the groups into the ContactSelectionListFragment. Or is there an easy way, but I don't find it? Maybe the DcContactsLoader.java is a good place to add the groups just with a parameter set to true.

[2018-11-02 10:20] florianhaar commented on #50
will tackle that now

[2018-11-02 12:41] florianhaar commented on #50
implemented the requested changes

[2018-11-02 13:42] r10s commented on #74
@florianhaar great that you push this forward.

i think it is better to allow the users selecting a _chat_ instead of a contact on forwarding. this way, groups are no issues - and i think most times, one will forward to users one is already in contact with. using the normal chat view for forwarding also give a nice sorting.

not sure if the existing ConversationList already offers an option for th

[2018-11-02 15:36] r10s commented on #50
great :)

[2018-11-02 16:01] r10s commented on #50
@florianhaar great, this is much better now.

some nitpicking when a background image is set:

1. when the attachment view or the emotiocons are opened, they are just overlayed and the background stays in place
2. when the virtual keyboard is opened, the background is _moved up_

as the overlays of 1. and 2. are of different sizes, i think it would be better to go for 1. in both cases - otherwise

[2018-11-02 16:33] r10s commented on #55
but these functions won't replace getting the images from the system address book.
in fact, they will _only_ return an image if set by the remote user. i this is not the case, the image from the system address book should be used. and, finally, if there is none, we fallback to the colored image as just now.

so, i think, it makes sense to show the image from the system contact address book already

[2018-11-04 11:58] angelo-fuchs commented on #32
vibration would most likely work if the relevant parts of user profile were already ported to DC.

[2018-11-04 14:58] #32 closed

[2018-11-04 19:42] #111 closed

[2018-11-04 19:54] angelo-fuchs opened #113 "Allow for event handlers that don't run on the main thread"

[2018-11-04 21:36] #113 closed

[2018-11-05 08:08] florianhaar commented on #50
@r10s I talked with my colleague about this problem and we both think that it is no easy task. The keyboard is handled by the system and the emoji viewer is a control from the app. It is indeed tricky and should be handled in a seperate issue.

[2018-11-05 08:14] Boehrsi commented on #55
Makes sense and I'm already getting the images while loading the address book (and showing them in the contact screen) but we need some sort of mapping between the DcContacts and the system avatars. Therefor I asked for the URI / ID saving when adding the contacts to the core.
As an alternative I planned to use the setProfileImages / getProfileImages. Currently I created some sort of name + mail h

[2018-11-05 10:19] angelo-fuchs opened #114 "media preview / gallery does not work for contact requests"
When one receives a media from someone one has no chat yet, the media is displayed in the contact request overview, but if tapped a blank screen appears.
Same for the media gallery overview of contact requests.

[2018-11-05 10:21] angelo-fuchs commented on #114
maybe it should instead don't display the media at all, but instead react the same way as when tapping a text message (asking if one wants to start a chat)

[2018-11-06 13:22] r10s opened #115 "exported file names are prefixed by the string "signal""
exported files have the patter `signal-YYYY-MM-DD-HHmmSS.EXT`.

we should change this to `deltachat` or so. also i would add either no "minus" between the values or everywehere a minus.

[2018-11-06 17:05] r10s commented on #113
great :)

[2018-11-06 17:07] r10s commented on #32
great - and, in fact, the "Reply" button below the notification seems to be _very_ useful :)
have not thought that.

[2018-11-06 17:14] r10s commented on #50
@florianhaar currently the background image seems to be anchored to the bottom. wouldn't it help to anchor it to the top center?
this way, the height should not make a difference.
@angelo-fuchs maybe you have an idea on this?

but i agree, if this gets too hacky, we should just file a new issue and target this at a later point.

[2018-11-06 17:16] r10s commented on #111
works like a charm :)

[2018-11-06 20:52] r10s commented on #55
i would not like to have os-specific urls in the deltachat-core address book. this may cause problems eg. on porting address books between different systems, but also an import on the same one may result in a bad state.

this won't work as deltachat-core will only allow to setup the contact image from SELF user. the contact images of other users are set by themselves - or they stay empty, and in t

[2018-11-06 22:30] testbird opened #116 "time sent: display date if deviating"
The "time sent" is now displayed correctly (https://github.com/deltachat/deltachat-core/commit/9f4ab2fd876b623a23666522d095cfa3da126664).

But when some messages are delayed or only downloaded after some offline-days, they look as if they where from the current day (and even right out of the future, if sent later in the day).

It seems ok to display the messages in the order as arrived but confusi

[2018-11-06 22:31] r10s commented on #116
cool - github finally allows transferring issues :)

[2018-11-07 10:11] Boehrsi commented on #55
Makes totally sense, I'm to "one client concentric" sometimes...

I already looked into the old Telegram implementation and used an adjusted one for the loading of the images in the contact list. That was my point regarding "loose relation" as sometimes multiple persons share an email address (yep happens sometimes), so it's not really that unique (but combining that with the name and creating a h

[2018-11-07 16:38] testbird commented on #79
I absolutely never claimed that two-way scanning would create "verfied groups".

In the contrary, the "nextleap" (half-leap) method, based on *seen contact data* (keys actually never compared/verified, only some key-random pair recongnition) actually never constructs anything worth to call a "verified group". It's trusting the matching contact data, to introduce and replace contact data of other c

[2018-11-07 23:51] r10s commented on #55
sorry for not being more clearer from the beginning on.

[2018-11-08 10:53] hpk42 commented on #79
Hello Testbird,

this is a longer mail (also an issue-reply) ... hope it helps
to relax and focus the discussions around what i currently call
the "verification complex".

On Wed, Nov 07, 2018 at 08:38 -0800, testbird wrote:

hum, you claimed that the labs feature "solves anything without introducing new risks".
I just wanted to say here that the labs features introduces verified groups
which, how

[2018-11-08 11:58] r10s opened #117 "notifications are updated too often"
currently, the notifications list seems to be re-created whenever a chat or chatlist activity started; this results in annoying re-opening of the same notification over and over (at least on by phone :)

example:
- two chats, ChatA and ChatB
- get a NotificationA for ChatA
- open ChatB ->NotificationA opens
- open Chatlist -> NotificationA opens
- open ChatB again ->NotificationA opens
- and so on

[2018-11-08 12:42] r10s opened #120 "verified-icon not always visible in chat-titlebar"
if the name of the group gets a bit longer, the verified-icon is "moved away" from the chat-titebar.

EDIT: ~~in the chatlist, the verified-icon is fine.~~ nope, it's also cutted there.

what is the easiest way to force this being visible? while keeping a simple, floating layout?
cc @Boehrsi

[2018-11-08 12:45] r10s commented on #50
@florianhaar also noticed, that the background of the input-field is not gray instead of white (in the light theme) - is there a specific reason for this?

[2018-11-08 16:03] r10s opened #118 "mitigate verbose logging"
the android log is full lines where ui-related things are added with Log.i().
as this circumvents to view to more important things, we should get rid of at least the most annoying log commands.

[2018-11-08 16:06] r10s opened #119 "submit debug log still goes to signal servers"
we should not upload debug logs to signal servers; it may be sufficient, at least for now, to have the log displayed and to have the option to edit (already available) and to copy to clipboard.

related: #108, #118

[2018-11-09 09:19] florianhaar commented on #50
@r10s now the input-field is white and the background is fix and will not get crunched

[2018-11-09 10:05] florianhaar commented on #74
@r10s I try to implement the ConversationList instead of the ContactList. And I think there should be a way to start a new chat. For example if I have just one chat with a friend and I want to forward a message to another friend than I just would see the chat of my first friend and I have no way to forward it to someone else ;-) But for the beginning I will just implement the ConversationList, bec

[2018-11-09 11:32] r10s commented on #120
for which are setCompoundDrawables() used currently?
at least on the right, there should be nothing.

sugestion:
- title-left: group-icon
- title-right: verified icon
- subtitle-left or excerpt-left: mute-icon

did i forget anything?
at least for now, this should fix the problem easily.

[2018-11-09 11:39] r10s commented on #74
@florianhaar for sure, it would  be great if one could create a new chat on forwarding directly.

however, if only can do forward-to-contact or forward-to-chat easily, i would go for forward-to-chat for now.
- chats are typically more often used than created
- there is a workaround if a chat is missing (create the chat before forwarding), but there is no workaround if we could only forward to cont

[2018-11-09 11:50] Boehrsi commented on #55
@r10s should work now as intended, also fixed a small problem with writing group avatar images.

[2018-11-09 11:53] Boehrsi commented on #120
I think blocked and archived are also located somewhere, but using setCompoundDrawables() and just put the icons beside the title and the subtitle sound like a good solution. I will have a look.

[2018-11-09 12:31] r10s commented on #120
they might come from signal, however, in delta:
- "blocked" is not really needed normally - the chats and contacts are just not shown.
- and "archived" is shown beside the delivery-state-icons which is also fine and no problem as there is no text that could get wider and move things away.

[2018-11-09 12:34] r10s commented on #55
@Boehrsi great, as a first glance this looks very good to me :)

[2018-11-09 15:19] r10s commented on #120
@Boehrsi great :) just tested, lgtm :)

[2018-11-09 15:19] #120 closed

[2018-11-11 08:51] testbird commented on #79
"concerted contact request" / "accepted concerted contact"?

[2018-11-11 22:31] hpk42 commented on #79
@testbird, I think your suggestion is better suited for a new topic in the forum
or a real-life discussion at a gathering.

On Sun, Nov 11, 2018 at 00:27 -0800, testbird wrote:

[2018-11-12 11:43] testbird commented on #79
The ball is on you side, about to drop.

[2018-11-12 17:30] angelo-fuchs commented on #117
I can reproduce this. Odd, I haven't picked up on that yet :) Should be easy to fix.

[2018-11-12 17:39] angelo-fuchs commented on #116
Letting the core add something like this is probably **a** solution, but I'd much rather fix that in UI.

[2018-11-12 19:00] r10s commented on #117
great :)

[2018-11-12 19:01] r10s commented on #116
jupp, i also would not like that in the core.
however, i think this is currently one of the less important issues, so i would not target this now.

[2018-11-13 11:04] angelo-fuchs opened #122 "scrolling in chat view broke"
** Deltachat Version **
master branch on this commit https://github.com/deltachat/deltachat-android-ii/commit/ebdb5f382d1e0ee6977ae4c6272c25c347d35a52
![screenshot_2018-11-13-11-58-33](https://user-images.githubusercontent.com/10619521/48409273-ab6e0100-e73b-11e8-8245-58b7f807cfad.png)

When I open a chat and scroll, this happens.
This also happens if I open a chat.

I fetched the master today at

[2018-11-13 11:05] testbird commented on #79
I've sent you a complete draft for a user friendly verification spec, covering the topics that you raised. You are free to bring it forward to a suited forum if you want, or of course show your manners and respond properly.

[2018-11-13 13:18] angelo-fuchs opened #123 "Update target SDK Version (and maybe do an update round)"
Our targetSdkVersion is currently 25.
For deployment in Googles Play store we will need at least 26 at the moment but should consider doing more then that.

Also our current gradle version is lagging behind, we should check if we can get more up-to-date on that as well.

While we are at it, we should check if we can upgrade our dependency versions as well, many seem dated and it would be beneficia

[2018-11-13 13:44] #117 closed

[2018-11-13 13:51] r10s commented on #112
@Boehrsi yeah, works again for me :)

[2018-11-13 13:51] #112 closed

[2018-11-13 14:40] r10s commented on #117
cool :)

what i encountered:

- the order is reverse: when there are already 3 notifications for a given chat, the 4th notification will pop up as expected but show the text from the first unread one. i think, this should be the last one. if possible, i am currently not so deep in the notification api of android

[2018-11-13 14:49] r10s commented on #92
@Boehrsi looks good to me, great :)

the next step is to integrate the edit-group-screen to the common profile view (but this needs some syncing, also with @angelo-fuchs who did the media overview) and to use the "normal" controls in the list, #48

however, these are the next issues then and this can be closed for now :)

[2018-11-13 14:49] #92 closed

[2018-11-13 14:51] r10s opened #124 "combine profile, group editing, media+document gallery"
not the most urgent issue, but in the mid-way, it is probably a good idea to combine these views in a single activity and navigate through these info with tabs.

cc @angelo-fuchs , we talked about this in kyiv

[2018-11-13 14:53] #55 closed

[2018-11-14 02:39] #8 closed

[2018-11-14 16:53] r10s opened #126 "make 'Reply' in the notification screen work"

[2018-11-14 17:06] #126 closed

[2018-11-15 01:05] r10s commented on #97
targeted in https://github.com/deltachat/deltachat-android-ii/commit/328132e041d625d9396203ce92209fdf595bd16c

[2018-11-15 01:05] #97 closed

[2018-11-15 02:20] r10s opened #127 "implement DC_EVENT_IS_OFFLINE"
[documentation](https://c.delta.chat/group__DC__EVENT.html#gafe508721f7db87f40814a7d0b4661542)

[2018-11-15 10:31] angelo-fuchs commented on #50
Trying to set a background image results in Exception:

[code]

Settings -> Display -> Chack-Background -> From Gallery -> Exception.

Together with #122 this makes DC currently unusable, please fix with priority.

[2018-11-15 10:58] angelo-fuchs opened #128 "Notification issues"
While using DC the following elements came up:

- [ ] group notifications don't display individual recipients anymore
- [ ] notifications are only shown after first message has been received

[2018-11-15 12:15] r10s commented on #50
@angelo-fuchs interesting, i do not get the this Exception on my phone. can you try to debug this on your machine?
(however, will also try it on the other testphone around)

wrt inital redraw error: maybe @florianhaar is around tomorrow (friday) to have a loot at this.

[2018-11-15 14:10] r10s commented on #50
also not reproducible on my other test device (moto g4)

[2018-11-15 16:50] #127 closed

[2018-11-15 17:54] r10s opened #129 "handle DC_EVENT_ERROR_NETWORK"
[doc](https://c.delta.chat/group__DC__EVENT.html#ga055e6bfcba292678fc5f0d687f6230a1)

[2018-11-15 23:08] #129 closed

[2018-11-16 07:14] florianhaar commented on #50
I will take a look at the problems today

[2018-11-16 07:53] florianhaar commented on #50
The problem with the not redrawn image is fixed and should be now white again in the light theme. I can't reproduce the scrolling problem and the crash.

[2018-11-16 10:12] r10s commented on #50
@florianhaar great :)
have you also tested the dark theme? with the black default background?

do you mean the issue reported by @angelo-fuchs ? asking because there is no scrolling involved :)

[2018-11-16 10:39] Boehrsi commented on #101
Will tackle that one.

[2018-11-16 10:39] florianhaar commented on #50
@r10s yes. Dark theme works :)

With crash I mean the exception that @angelo-fuchs mentioned

and with the scrolling problem I mean the problem described in #122

[2018-11-16 10:57] r10s commented on #50
okay :)

ahh, i see, but isn't this just a duplicate of the [one above](https://github.com/deltachat/deltachat-android-ii/issues/50#issuecomment-437345385)? \*\*confused\*\* :)

[2018-11-16 11:00] florianhaar commented on #50
@r10s yes i think so, but I never saw this weird conversation view. And I cannot reproduce it :)

[2018-11-16 11:32] r10s commented on #50
@florianhaar tested, #122 and the https://github.com/deltachat/deltachat-android-ii/commit/7a5f3823150720976aa044ac56b8f7c8de65e5be is fixed for me. that it did no happen for you may come from different behaviors of different android versions on "bad images" - some seems to paint white, others nothing. i've seen similar behaviors also on windows ...

@florianhaar any chance to target this remainin

[2018-11-16 12:37] florianhaar commented on #50
@r10s I will take a look at it :-)

[2018-11-16 12:52] r10s commented on #50
@florianhaar great :)

[2018-11-16 13:15] r10s commented on #101
great :)

will you re-use the "normal" contact list that is shown when clicking the "+" button? ContactSelectionActivity iirc or the corresponding fragment or at least the list items?

that would be great as i think we do want to have big things to maintain for the un-blocking stuff :)

[2018-11-16 13:15] florianhaar commented on #50
@r10s I cannot reproduce this problem. What we do is
 `Bitmap scaledBitmap = GlideApp.with(context).asBitmap().load(imageUri).centerCrop().skipMemoryCache(true).diskCacheStrategy(DiskCacheStrategy.NONE).submit(size.x, size.y).get();`
we centerCrop the image and it is scaled to the windows size. And I can't see that the images are stretched. It worked with horizontal and vertical images.

[2018-11-16 13:39] r10s commented on #50
@florianhaar the following images show how it looks to me on my nexus 4 with a "circle" image:
- the first image is correct - shown in the preview of the background selection.
- the second image is the landscape view - obvious too wide
- the third image is in portait view - a bit too small, but still recognizable
![original](https://user-images.githubusercontent.com/9800740/48624578-0b1f1300-e9ad-

[2018-11-19 17:38] testbird opened #130 "flaky message sending"
Sending a message while the router is not connected to the internet causes sending delays long after the connection is back on.

I guess what happens is that many times the random delay is shorter than the time passed since job creation, until at one time it shoots to many minutes or even hours.

Here again the summary for continuously and deterministically ensuring that messages are
* sent as soo

[2018-11-19 17:41] r10s commented on #130
this is fixed with the version currently in development.

[2018-11-19 17:43] #130 closed

[2018-11-20 08:23] Boehrsi commented on #101
There is already something in place and in general I will try to reuse as much stuff as possible. Totally agree that this area shouldn't introduce much "extra stuff". _(Sorry for the late answer)_

[2018-11-20 13:46] #114 closed

[2018-11-20 13:49] angelo-fuchs opened #131 "Disable profile view for contact requests"
There is no use in having a profile for 'everyone you didn't talk to yet'.

[2018-11-20 14:17] r10s commented on #131
+1

(the profile view that should be removed can be opened by a touching the contact request's action bar)

[2018-11-20 15:03] testbird commented on #130
I filed this issue, because, as stated, the new exponential backoff delays random messages for very long random periods (long after the router's connection is back online).

I see you've edited and completely deleted your first comment, which was originally claiming the issue is beeing solved in the current development version, whereas the truth is, the problem has only been introduced with the "*

[2018-11-20 15:20] r10s commented on #130
i modified my post mainly to adapt my tone.

[2018-11-20 15:24] r10s commented on #130
apart, from that, yes, the problem is targeted in the current development version, and i wrote that, but i just thought that this does not really matter here.

[2018-11-20 16:02] testbird commented on #130
How strange that you think pointing to or explaining your solution would not matter.

Well, scheduling complete passes according to the number of failed passes as sketched above shouldn't be too hard, maybe you're considering it.

[2018-11-20 20:06] r10s commented on #130
there are of comments referring to your ideas in the pr.

btw. have you ever _tried_ the exponential backoff before commenting on it?

[2018-11-20 20:20] r10s opened #132 "make imap_folder configurable"
i think there should be an option in the advanced settings, below imap-sever and smtp-server options. just an input field that takes the IMAP-folder-name, see [imap_folder](https://c.delta.chat/classdc__context__t.html#aff3b894f6cfca46cab5248fdffdf083d)

[2018-11-21 00:09] r10s commented on #119
the corresponding code is at https://github.com/signalapp/libpastelog/blob/master/library/src/org/whispersystems/libpastelog/SubmitLogFragment.java

[2018-11-21 12:02] testbird commented on #130
What I am missing is any hint that you recognize the issue with the per message *random* exponential backoff in general, and especially if the implementation causes half of the random values always beeing in the past (immediate retry and exponential growth of the potential for the next delay).

* shuffled messages
* sending not resumed quickly after a problem wihin the network is gone
* hours with

[2018-11-21 12:10] angelo-fuchs commented on #130
@testbird I get the impression that it would be easier to talk about this in a more direct and personal way, could you send me an email? af@steamnet.de

[2018-11-21 14:38] Boehrsi opened #134 "Importing system contacts seems broken"
It seems like the importing of system contacts into Delta Chat Core (implemented in https://github.com/deltachat/deltachat-android-ii/issues/46) is not working anymore on the latest master.

**Situation:**

- After granting the permission to load the contacts no contacts are added / shown

**Expected:**

- After granting the permission to load the contacts the system contacts are added / shown

@r

[2018-11-21 14:58] r10s commented on #134
i can confirm that it does not work for me as well :)

[2018-11-21 14:59] Boehrsi commented on #134
Will tackle that one on Friday.

[2018-11-22 22:18] r10s commented on #101
the list looks good so far.

some nitpicking:
- it should _not_ be multi-selectable (or it should work, but it think this is not worth the effort)
- the dialog "unblock" button is labeled "block"

btw. you can test the blocking by sending a delta-chat messages from another account (if it is already in use, delete the chat) and answer the contact-request question with "never".

we should make the "

[2018-11-23 14:40] Boehrsi commented on #134
@ralphtheninja tests are generally possible but everything involving the AndroidTest part makes it significantly complexer. But I will have a look.

[2018-11-23 14:42] Boehrsi commented on #101
Okay, I will adjust the mentioned points. Multi select was already explicitly disabled as far as I remember but I will have a look.

[2018-11-23 14:48] Boehrsi commented on #101
Will probably finish that one on Monday, due to an unplanned home office day I wasn't able to accomplish much today.

[2018-11-23 14:48] Boehrsi commented on #134
Will probably finish that one on Monday, due to an unplanned home office day I wasn't able to accomplish much today.

[2018-11-23 16:47] Boehrsi commented on #134
@ralphtheninja totally get your point there ;) and totally agree with you that we should start testing. I will just have a look if it is possible without unreasonably high effort and if so I will just do it :).

[2018-11-24 07:02] webratte opened #136 "Don't open keyboard after open the contactlist"
It's nerved if the keyboard opening immediately after I open the contact list.

The keyboard should opening first if I tap into the search field.

Dev-version 0.0.9

[2018-11-24 12:33] webratte commented on #136
Moved to:
https://support.delta.chat/t/dont-open-keyboard-after-open-the-contactlist/141

[2018-11-24 12:33] #136 closed

[2018-11-24 16:33] testbird commented on #130
Thanks, but no, I'd prefer public exchange about implications and improvements of technical details and  straight answers, above personal emailing or some "data instead of dialogue" (from "Who needs democracy when you have data?").

[2018-11-25 10:40] r10s opened #137 "implement saving files"
long-click on item -> save should work but does not

[2018-11-25 12:20] #137 closed

[2018-11-25 21:54] r10s opened #138 "remove code dependencies to signal"
[code]

should be checked/removed

[2018-11-26 00:48] r10s opened #139 "KeyCachingService superfluous?"
security wise, but also for a smaller code-footprint, i want to get of the code that is included from https://github.com/signalapp/libsignal-protocol-java and https://github.com/signalapp/libsignal-service-java.

these repos mainly contain crypto stuff, signal database stuff and so on.

most dependencies are already removed, however there is a class KeyCachingService that tries to use the "Master

[2018-11-26 03:32] gerroon opened #141 "Add a way to get rid of red backgrounds"
Hi

Can you please add a way to disable or get rid of the red tinted message reply backgrounds. Some contacts seems to be choosen as red so their messages have red background, but that makes it look like everything they say have some importance or emergency.

Editing the contact color does not work.

thanks

[2018-11-26 10:34] r10s commented on #141
@gerroon thank you for your post. i am also not 100% happy with the colors, however, due to other more pressing issues, it was a bit delayed.

the formally postponed and now re-opened issue is #51 - as this one is a it broader, i would suggest to continue the discussion there and close this one.

[2018-11-26 10:34] #141 closed

[2018-11-26 10:44] r10s commented on #51
some drawbacks of the colored bubbles:

- @gerroon pointed out in #141 that some colors stand more out than other and might give the posts of these users a higher importance
- i think, another drawback is that two users eg. in a group may get the same colors and are not easy to distinguish - esp. if one relies on the different colors
- the other way round, if a user has different email addresses w

[2018-11-26 12:34] Boehrsi commented on #134
Fixed by the mentioned commit (just removed the unneeded permission). I wrote a reminder for myself to recheck the testing stuff, but for now I would say it's a bit too much effort. @r10s can you also verify that it's working again?

[2018-11-26 13:51] Boehrsi commented on #101
`
- it should not be multi-selectable (or it should work, but it think this is not worth the effort)
- the dialog "unblock" button is labeled "block"
- unblocking does not work, the contact is just not unblocked
`
Fixed
`we should make the "block contact" function in the profile work to allow easier testing.`
Added. Contacts can now be blocked using the "profile view" of a contact. Blocking does t

[2018-11-26 13:54] Boehrsi commented on #101
@r10s everything should work now, including the blocking part. :)

[2018-11-26 14:47] #139 closed

[2018-11-26 14:51] Boehrsi commented on #48
@r10s is this one still valid? The add group part contains avatars now and for editing the /me reference is also there. I would say the latest adjustments fixed this ticket also.

[2018-11-26 15:48] violoncelloch commented on #51
Couldn't we just give each contact a specific colour? so users can optically distinguish between senders? These colours should be consistent across one-to-one and group chats. We would just need to make sure the same colour is not assigned twice

[2018-11-26 16:32] gerroon commented on #51
You can use red tinten colors but you need to pull down the saturation, somethig along solarized themes idea.

[2018-11-26 16:48] r10s commented on #48
yes, this is what i was talking about, but i think for now we should close this, there is more important stuff to do :)

[2018-11-26 16:48] #48 closed

[2018-11-26 16:50] r10s commented on #134
@Boehrsi why does it fail when _too many_ rights are requested?

[2018-11-26 16:50] r10s commented on #101
cool - will check this out later :)

[2018-11-26 18:57] gerroon opened #142 "Replies are in Inbox"
Hi

My replies to an existing chat is delivered to the inbox instead o designated folder

LineageOS 14.1

v0.0.9

The previous DC release from Fdroid does not have this issue. I think I am going to go back to Fdroid version, this is too annoying to be honest :(

[2018-11-26 19:34] r10s commented on #142
hi @gerroon thank you for your post.

yes, this is the _current_ default behavior. the core already allows to use a different folder than the INBOX, however android-dev is still missing an option for it, however, it is planned, see #132

the general single-folder approach is discussed in the mailing list (some reasons are user-expectations and multi-device support) and an option to get back the ol

[2018-11-26 19:34] #142 closed

[2018-11-26 19:40] gerroon commented on #142
Ok thanks for the informative reply

[2018-11-26 19:54] r10s commented on #142
@gerroon you're welcome

[2018-11-26 21:07] r10s commented on #134
apart from that, yes, it's working again.

but i really would like to understand why :)

[2018-11-26 21:38] r10s opened #143 "ask the user if he wants to disable battery-"optimisation""
without battery-"optimisations" there is no need to add the permanent notification.

maybe we should ask the user (after a day using delta, maybe, i wouldn't annoy him at once) if he wants to disable them. there is already the class DozeReminder that could help on this, i just did not delete it :)

[2018-11-26 21:41] r10s opened #144 "signal.db database file should not be created at all"
the database is still created, however, of course not in use.
but it's not that easy to just delete the related classes as _they_ are in use here and there.
there is already some progress, however, still some work.

[2018-11-27 00:06] r10s commented on #101
cool, works like a charme :)

[2018-11-27 00:06] #101 closed

[2018-11-27 11:39] r10s commented on #143
cmp. https://github.com/deltachat/deltachat-android-ii/commit/01b078cd388d9b07fde3a1973f4a957a300bc97d

[2018-11-27 19:54] r10s opened #145 "move settings as 'mute' or 'ringtones' from signal.db to PreferenceManager"
needed to target #144 afterward

[2018-11-27 20:41] r10s opened #146 "allow to mute chats"
- muted chats to not vibrate, ring or notify.
- messages appear and unread counter are shown

[2018-11-27 20:46] r10s opened #147 "share with Delta"
sharing date (text, images) from other apps to Delta Chat should work as expected and usual.

[2018-11-27 20:46] #134 closed

[2018-11-27 22:58] #146 closed

[2018-11-28 01:12] r10s commented on #145
done in https://github.com/deltachat/deltachat-android-ii/commit/126b730f7e1f1c2aa69ee511274e27b38108316f and corresponding commit.

[2018-11-28 01:12] #145 closed

[2018-11-28 10:14] Boehrsi commented on #134
@r10s The app needs to define all permissions it will ever ask for in the manifest and we removed the write permission for contacts, as we don't need it. But that means the request for "read and write" permissions, which was performed right before importing the contacts just always failed, as the write permission was never granted. That blocked the importing process.

[2018-11-28 10:37] r10s opened #148 "implement "attach contact""
attaching a contact to a chat should show the contact list, let the user select one and set the text field just to
[code]
it's up to the user to modify the text and to send it then.

[2018-11-28 15:29] r10s opened #149 "remove giphy"
giphy as a centralized service is not on pair with the overall goal of decentralization.

if would be glad, however, to have a functionality to serach eg. images and gif in user-defined search engines, which, of course, can be predefined then. but this is another issue, just want to mention this is someone want to take care  :)

[2018-11-29 10:08] Boehrsi commented on #148
I will look into that one on Friday.

[2018-11-29 21:51] testbird commented on #143
https://github.com/deltachat/deltachat-android/issues/380

[2018-11-29 22:20] testbird commented on #143
There is also an option to "grant background running permission". Don't think it is included in the other option, as other apps ask for it.

[2018-11-30 10:33] Boehrsi commented on #148
Should work now.

[2018-11-30 10:39] Boehrsi commented on #149
Will take care of this. I will remove the Giphy calls and I will hide the GIF entry for now. I will keep as much of the logic part as possible, so a later re-implementation wouldn't be that hart.

[2018-11-30 11:12] r10s commented on #149
well, i would not take care too much of things that may happen on this in the future. i would throw away the icon in the attachment bar (however this is easily possible, the result are 7 then) and remove after that all classes that are unused.
in general, we do not want as few code as possible, i think these sort of functions are rather easy to add afterwards if needed - and the code is not gone :

[2018-11-30 12:45] Boehrsi commented on #149
Fixed.

[2018-11-30 13:58] r10s commented on #147
issue is, same as for forwarding (#74), that sharing is done to a contact, and not to a chat.

- the chat list is much better to user by default here as it is much more know to the user - it's the list he always sees and is working with.
- also the list is automatically sorted by the recent activity, so that it is easier and faster to find the chat to send sth. to
- forwarding to groups is not pos

[2018-11-30 14:32] r10s commented on #148
great, the predefined text in the draft is exactly as expected :)

for the list as such, this is still the system address book as before. however, i would suggest to use the delta contact list instead:
-  includes all email addresses that are in the system contact book
- _plus_ the one that are in delta only
- it works also if the user rejected rights to the address book

sorry for having been unc

[2018-11-30 14:47] r10s commented on #149
great - what a fun to remove code ;)

[2018-11-30 14:47] #149 closed

[2018-11-30 14:53] r10s opened #151 "what is the 'patches' folder needed for?"
@Boehrsi i assume the folder comes from the very beginning where we had the idea to leave most of the signal code untouched? so that we could just "inject" our stuff?

is the folder still needed?
otherwise i would suggest to remove it from the repo.

[2018-11-30 15:08] r10s opened #152 "make video playback work"
at least on my device, the video playback is not started.

~~i think for now, we should handle video playback just as normal files - start the intent that is responsible for videos, no need for an internal player imho, the telegram-ui did just the same.~~

~~in some 2.0 version we can create preview images for videos (and record videos!), however, even then i would prefer using the system player f

[2018-11-30 15:11] r10s opened #153 "show the extension beside the size of attachments"
currently, attachments are displayed as

[code]

if the file name is longer, it may be truncated and it is unclear of what type the attachment is.

as a simple fix i would suggest to add the extension in upper case characters beside the size:

[code]

[2018-11-30 15:57] r10s opened #154 "logo in '/artwork' folder needed?"
there is a logo in the 'artwork' folder at https://github.com/deltachat/deltachat-android-ii/blob/master/artwork/logo-512.png - of course we can replace it with the delta chat logo, however, i have no idea for what this logo is used. playstore? or can it be removed?

maybe @Boehrsi or @angelo-fuchs knows more :)

[2018-12-02 23:49] #73 closed

[2018-12-03 08:13] Boehrsi commented on #148
Ah okay, didn't get the in the first run. Will adjust that.

[2018-12-03 11:20] angelo-fuchs commented on #154
I don't see any place its referenced. I grepped through the code, etc. and did not find anything.
Its almost certainly safe to remove, I will do so.

[2018-12-03 11:54] angelo-fuchs commented on #138
we should remove the maven urls from the gradle as well.

[2018-12-03 13:15] angelo-fuchs commented on #152
I just sent a .mkv Video to my delta. The attachment in the mail is marked as 'video/x-matroska'

[code]

But when the Action Intent is called, `DcMsg.getFilemime()` returns `application/octet-stream`.
Same goes for text messages.

[2018-12-03 13:53] r10s commented on #148
great :)

[2018-12-03 13:53] r10s commented on #154
cool :)

[2018-12-03 14:06] #154 closed

[2018-12-03 23:51] #24 closed

[2018-12-04 11:48] angelo-fuchs opened #156 "Status Text in Settings can not be empty"
When I open my settings and edit the Status Text to empty, then press the Checkmark, the screen disappears as if it had worked, but the text reappears as soon as I open the settings again.
A single whitespace doesn't work either, but a single period does.

[2018-12-04 21:32] webratte commented on #132
I would like to test DC (dev version) with a special Deltachat folder.

So it would be graet if you could add this option in the next release.

Thank you

[2018-12-05 18:19] r10s commented on #132
closing this until https://github.com/deltachat/deltachat-core/issues/422 is solved; it's not really clear which ui option will be there in the end.

[2018-12-05 18:19] #132 closed

[2018-12-05 19:44] webratte opened #159 "Add a UI item to change DC folder"
Since DC dev version uses "whatch a single folder".
So I need a UI item to configure a folder which should handled as DC inbox. (e.g. inbox/deltachat)

I would like to see this feature in the near future 😀

[2018-12-05 22:19] Rubylion opened #160 "[Feature Request] Dark mode"
A dark mode would be very pleasant. thx

[2018-12-05 22:22] Rubylion opened #161 "[Feature Request] 'Select All' - Option in Contact Requests list"
I had to delete over 200 Mails, that had been saved in the Conract Requests Tab. Selecting every single one sololy. A 'select all' option would really improve the handling

[2018-12-06 00:07] r10s commented on #160
hi @Rubylion - thank you for your post.

in fact, the current android-dev version (more info at https://delta.chat/en/2018-10-12-android-dev) actually has a dark mode at settings / appearance / theme

[2018-12-06 00:10] r10s commented on #161
hi, @Rubylion thank you for your post.

in general, however, it is better to discuss feature requests with a broader audience in the forum at https://support.delta.chat

[2018-12-06 11:36] angelo-fuchs commented on #161
@Rubylion Where did that mails come from? Was that SPAM? Or were that regular E-Mails that you just didn't want in your Deltachat?

[2018-12-06 13:00] r10s commented on #161
there is also the rough idea of limiting the retained history in general which could also affect the contact requests then, see https://github.com/deltachat/deltachat-core/issues/244

[2018-12-06 14:38] Boehrsi commented on #151
Will look into that tomorrow :+1:

[2018-12-06 16:10] r10s commented on #151
great :)

[2018-12-06 17:51] Rubylion commented on #161
@angelo-fuchs These were regular mails, I already deleted from my inbox. Obviously DeltaChat saved those under contact requests

[2018-12-06 17:52] Rubylion commented on #160
great. thx

[2018-12-06 18:36] #98 closed

[2018-12-06 18:42] r10s commented on #160
@Rubylion yes, but it is not totally clear when. probably this year :)

[2018-12-06 18:42] #160 closed

[2018-12-06 19:30] r10s commented on #159
we can think this over when https://github.com/deltachat/deltachat-core/issues/422 is done.

however, it is better to discuss feature requests with a broader audience in the forum at https://support.delta.chat

[2018-12-07 07:49] florianhaar commented on #50
@angelo-fuchs your code looks good and it still works on my phone
@r10s I will take a look at your problem today

[2018-12-07 08:16] florianhaar commented on #50
@r10s It is hard to fix and I would say that we close this ticket and open a new with this specific problem :)

[2018-12-07 09:33] Boehrsi commented on #148
Should be fixed now, adjusted our BlockContactsActivity and renamed it to be able to cover both areas without introducing too much new code.

[2018-12-07 09:38] Boehrsi commented on #147
Ah okay, will start working on that one now.

[2018-12-07 11:45] r10s commented on #151
@Boehrsi thanks :)

[2018-12-07 11:59] r10s commented on #50
@florianhaar i'd like to give it a try as well, so i would like to keep this ticket open at least today (i'm currently playing around with lots of these ui thingies :)

[2018-12-07 12:04] r10s commented on #147
cool :)

[2018-12-07 12:09] r10s commented on #148
much better, thank you very much.

however, i would still try to use the normal delta contact list as this would provide a search and also these sticky letters on the left look nice.

maybe we could also use the normal delta contact list for the blocked contacts and for the group member list (which still looks ugly)

but i would not regard this as a top-priority so it is probably okay to close thi

[2018-12-07 12:09] #148 closed

[2018-12-07 12:14] r10s opened #162 "unify contact lists"
currently, we have at least 4 different contact lists:
1. create chat from contact - the one that opens when clicking on the "+" button in the chat list
2. share contact (opens via attach button in the send)
3. unblock contacts
4. member lists (in group create/edit)

the most advanced and best-looking list is 1. - so i would suggest to reuse this activity/fragment for 2. and 3. and at least the it

[2018-12-07 12:16] r10s commented on #148
opened subsequent issue in #162

[2018-12-07 12:22] r10s commented on #48
re-opened as a broader issue in #162

[2018-12-07 12:43] Boehrsi commented on #147
Adjusted the sharing for both external sources and forwarded messages. Now chats are visible when forwarding. Currently no multi select is enabled, but I think for the moment this is fine the way it works.

[2018-12-07 12:45] florianhaar commented on #74
@r10s Now it is possible to forward messages to active chats.

[2018-12-07 12:52] Boehrsi commented on #100
I try to get this one working.

[2018-12-07 13:00] r10s commented on #100
cool - i would test this with a second device or so.

[2018-12-07 13:07] happyreacer opened #163 "Mails will not move to DeltaChat folder"
- Platform (lineage os microg 15.1):
- Device: Fairphone2
- Delta Chat Version: 0.0.10
- Expected behavior: The Chatmails will be moved in the separate DeltaChat folder on the mailserver
- Actual behavior: All (send, receive,read)  the mails are in the inbox
- Steps to reproduce the problem:  each time
- Provider: strato.de

By the way for comparison it works with the android app version 0.20 from

[2018-12-07 13:40] r10s commented on #163
this is by design currently, we'll re-implement the moving in the core at https://github.com/deltachat/deltachat-core/issues/422

[2018-12-07 13:40] #163 closed

[2018-12-07 13:40] florianhaar commented on #156
@angelo-fuchs I will takle this

[2018-12-07 13:41] #159 closed

[2018-12-07 13:44] r10s commented on #153
just noticed that the extension for _some_ file types is shown in the icon beside the name, at least for PDF but _not_ for EPUB.

showing the extension there is probably even smarter than my proposal, however, at least extensions with 4 characters should be shown as well.

[2018-12-07 14:12] r10s commented on #161
@Rubylion thank you for coming back to this. that regular mails are shown in the contact requests, is by design currently.

as mentioned above there are ideas to improve handling of this in the core, https://github.com/deltachat/deltachat-core/issues/244

as it's more a core-issue and is not really related to android-dev, i would suggest to continue the discussion there or in the forum and close t

[2018-12-07 14:13] #161 closed

[2018-12-07 19:47] happyreacer commented on #163
okay, thanks for feedback

[2018-12-08 00:42] r10s commented on #147
great that you push this forward.

the chat list appears for me, however, scrolling down, results in a crash on my device.

apart from that, some nitpicking:
- i think the additional "do you want to share with?" alert-dialog is not needed as the message is staged as a draft anyway
- the animation form the share-chatlist to the chat comes from _down_ whereas it normally comes from the right on open

[2018-12-08 00:44] r10s commented on #74
great :) there is the same crash on my device as for #147, apart from that i would change the title of the activitiyto "forward messages".

[2018-12-08 05:58] webratte commented on #159
I believe feature requests posted in the forum will lost in the bottom of the forum very fast 😉
And you know this.

A issue in github will stay as open until its fixed or marked as "will not fixed" and its always visible and so it will be not forgotten.

But it's your project and your rules and so I opened a new topic in the forum:

https://support.delta.chat/t/add-a-way-to-set-user-defined-dc-fol

[2018-12-08 11:41] r10s commented on #159
@webratte thank you very much :)

however, i do not think that discussions in the forum get lost if there is some interest on a topic.

in fact, we'll tend to close discussions and feature requests that no one is working on _here_, but _not in the forum_ :)

[2018-12-08 13:46] Boehrsi commented on #147
The crash is strange, will try to reproduce that and I will also have a look regarding the other thinks.

[2018-12-08 13:47] Boehrsi commented on #147
The Firefox Klar part could be related to Firefox itself, there are multiple ways to share data between apps on Android, I will have a look.

[2018-12-08 13:54] r10s commented on #147
@Boehrsi if you cannot reproduce the crash, i will check what is going on on my computer, np :)

[2018-12-08 22:56] r10s commented on #152
updated my mind: i think we should stay with the internal player, see my edit in the first post.

[2018-12-09 00:03] #152 closed

[2018-12-09 00:29] r10s opened #164 "video preview thumbnail"
video preview is still missing in the chatview as well in the media overview. in the "sliding" view, however, it is there.

not sure if it is needed to cache one or if generating on the fly is fast enough. in the "sliding view", however, i did not notice any delay.

currently, only a play-button is show in the chatview as well as in the media overview; this play button shall stay as an overlay ove

[2018-12-09 00:37] r10s opened #165 "video recording"
we should consider bringing video recording to delta-dev (it is there in the current tg/f-droid verison).

while recording as such is very simple (only an activity), the harder part is the recoding - resulting files should not be larger than `dcContext.getConfig("sys.msgsize_max_recommended")` bytes (about 17 mb or so).

the telegram-ui recoded using ffmpeg c-lib, however, i think we should try do

[2018-12-09 02:03] #144 closed

[2018-12-09 14:55] bokf commented on #70
How about image compression? Images are sent now with original size.

[2018-12-09 19:27] r10s opened #166 "make contact name editable"
there should be an option in the contact's profile

[2018-12-09 19:27] r10s opened #167 "option to show contact's fingerprint"
there should be an option in then contact's profile

[2018-12-09 19:36] r10s opened #168 "compress images"
images sent not "as files" should be compressed to, say, not much more than 300K. this is already true for images taken from the camera, however, it should also be done for images selected from the gallery.

when targeting this issue, we should also make sure, all exif data are erased as these are easily information that are leaked unexpectedly by the user (position, date).

to send images without

[2018-12-09 19:37] r10s commented on #70
@bokf thanks for pointing this out, we had this in mind, however, i've filed a concrete issue at #168 now :)

[2018-12-09 22:54] #167 closed

[2018-12-09 22:56] r10s commented on #30
implemented by the last commits, not perfect, but working.
shall be improved in #124 later on.

[2018-12-09 22:56] #30 closed

[2018-12-09 23:08] #166 closed

[2018-12-09 23:45] violoncelloch commented on #166
Do we really need this? Isn't it easier and simpler to just use the name from the system address book? (as e.g. Whatsapp does it)

[2018-12-10 00:18] r10s commented on #166
we want to be independent from the address book.
not all contacts in delta chat are in the system address book.

[2018-12-10 14:38] testbird commented on #161
The "limit retained history" approach is not the correct one for the incoming emails list (wrongly called "contact requests").

The incoming emails situation would be solved better with the "syncing" approach, i.e. auto-delete messages locally if deleted on the server (through other clients), and if deleting a message in the incoming emails (e.g. spam) also delete it from the server. Before doing

[2018-12-10 14:46] testbird commented on #168
Could this be solved for all frontends in deltachat-core?

[2018-12-10 14:53] r10s opened #169 "remove limit when sending text"
seems still to be sms/mms related, eg. when pasing a log with some kb, it is truncated and there is a summary as `0/2000 (1)` below the text input field

[2018-12-10 14:55] #119 closed

[2018-12-10 14:57] r10s commented on #168
theoretically, yes. in practise, i do not think it makes much sense as this would required lots of dependencies in the core. and this is already complicated enough.

[2018-12-10 16:04] #169 closed

[2018-12-10 16:12] #131 closed

[2018-12-10 16:29] r10s opened #170 "ui polishing"
- [x] line spacing
- [x] colored sender in groups
- [x] less space between senderName+text in groups
- [x] unify date/delivery-state colors
- [x] correct bottom-corners for images-bubbles without text
- [x] do not fade the whole bottom-image-border to black to make the time-info visible; instead, just use an overlay for only the time-info

[2018-12-10 16:36] #108 closed

[2018-12-10 17:40] violoncelloch commented on #166
Ok, then it makes sense! Thank you for clarifying

[2018-12-10 21:30] #115 closed

[2018-12-10 23:56] #138 closed

[2018-12-11 10:47] testbird commented on #130
Now I could better identify the error I experienced, it wasn't the router itself but its IP. The email provider blacklists IPs and returns error messages. That made the connection fail on on a mobile network (that uses NAT) while it worked when connected with another network.

I only noticed this after trying to use webmail on the phone while having the problem in the mobile network, because this

[2018-12-11 11:20] bokf commented on #147
v0.0.11 crashes on my phone when I want to share images

[2018-12-11 21:45] r10s commented on #147
@happyreacer thanks for testing, i also tested again, and it still crashes for me.

@Boehrsi however, i could fix the problem in https://github.com/deltachat/deltachat-android-ii/commit/c7e37d153da7b0a540a000bc265b61be5dd91ab5 - it was an uninitialized `locale` pointer. not sure what would be a graceful way to forward this pointer, other activities use initFragment(), however, i think it is fine.

[2018-12-13 15:48] violoncelloch opened #172 "audio message UI"
- Platform (android/blackberry/anbox): Android
- Device: Honor 8
- Delta Chat Version: 0.90.0

![img_20181211_115031](https://user-images.githubusercontent.com/22591354/49949479-fe330800-fef5-11e8-9745-7340e2cb65da.png)

The recieved audio messages (from telegram-android) don't show a play button, but can be played if you know where to click.

on dragging the reel bar, there is not a circle painte

[2018-12-13 20:35] r10s commented on #172
telegram-ui uses ogg-files with a more or less special codec while the new interface uses aac-files.

however, even if android-dev cannot play the file as such, it should render it as a documen t so that it can be opened by an app that can potentially play it.

otoh, it might only be a problem of the mime type, we had a similar issue with videos.

needs some research :)

[2018-12-13 21:06] bokf commented on #147
Now sharing images works with v0.90.0 on my s7 with LOS 14.1!

[2018-12-13 21:34] r10s commented on #147
@bokf thanks for the feedback :+1:

[2018-12-13 21:40] r10s commented on #172
@violoncelloch i think this needs some dev skills first, we will target this sooner or later, however, it's not the most pressing issue currently imho.

but in general, it is of interest _which_ format is supported by most android versions - and can also be played by the chrome browser and ios without problems.
afaik aac ist not the most free format, might be mp3 in the end.

[2018-12-14 11:44] Boehrsi commented on #147
@r10s due to sickness I will finish the remaining parts on Monday and not today. Sorry for the delay.

[2018-12-14 11:44] Boehrsi commented on #100
@r10s due to sickness I will look into this starting on Monday and not today. Sorry for the delay.

[2018-12-14 11:46] r10s commented on #147
@Boehrsi gute  besserung - get well soon!

[2018-12-14 11:46] r10s commented on #100
@Boehrsi get well soon :)

[2018-12-14 12:13] Boehrsi commented on #147
@r10s thanks :). Hopefully I'm fully recovered on Monday so I'm able to finish that one in time.

[2018-12-17 09:39] florianhaar commented on #156
@angelo-fuchs @r10s it should be possible to set an empty status now

[2018-12-17 11:57] r10s commented on #156
@florianhaar cool :)

[2018-12-17 12:14] Boehrsi commented on #147
- When sharing no dialog is shown (when forwarding it is)
- Set the correct title for sharing and forwarding see #74
- The animation is different as the activity is started via the launchMode="singleTask" (https://developer.android.com/guide/topics/manifest/activity-element#lmode) probably due to the special nature of this activity (it can be started by another app from outside the normal app cont

[2018-12-17 12:15] Boehrsi commented on #74
The title is now adjusted. @r10s everything should work now as intended.

[2018-12-17 12:35] florianhaar commented on #99
@r10s will start with this one now

[2018-12-17 13:11] r10s opened #175 "flag forwarded messages as such"
forwarded messages should be shown as such to the user. there is no need to show the original sender (this might also be a privacy issue), however, just the information that a message was forwarded is nice.

we could just prefix the text by [forwarded message] or add a simple control, similar to the name in groups.

the state can be determined by `DcMsg.isForwarded()`.

[2018-12-17 13:12] r10s commented on #74
just tested things, works as expected for me :) i think we can close this now.

next iteration somewhen in the future might be to allow searching/createChat from withing the forward/share activity, but for now it is fine.

follows up #175

[2018-12-17 13:13] #74 closed

[2018-12-17 13:21] florianhaar commented on #99
@r10s should be as expected

[2018-12-17 13:32] r10s commented on #99
great that you push this forward and figure out the correct line to change.
however, wrt to right-to-left-languages, shouldn't it read `bottom|right|end` or just `bottom|end`?

what i've seen for the other footer controls, they add `end` here.

[2018-12-17 13:53] florianhaar commented on #99
@r10s you are right and I fixed this :)

[2018-12-17 14:04] r10s commented on #99
@florianhaar thank you very much for confirmation and for fixing. we can close this now.

[2018-12-17 14:04] #99 closed

[2018-12-17 15:40] adbenitez opened #177 "remove language_name from strings.xml"
res/values/strings.xml::language_name:
After checking the file directly I realized (reading the comment) this string must be the current language, but what translators seems to be doing is simply translating the word "English" to they language, perhaps it isn't obvious for translators using transifex, what is the real meaning of this string.

[2018-12-17 15:50] r10s commented on #177
well, we've added a hint, however, in fact, the string is not directly needed for android.
it is only needed to copy+paste the language name to the internal popup.

maybe we can just get rid of it instead of trying to explain complicated things ...

[2018-12-17 15:54] adbenitez commented on #177
Well this is an static thing, perhaps can be done automatically

[2018-12-17 16:44] r10s commented on #177
yip, `language_name` obviously causes too much confusion, we also had question on irc to this.

i think it should be just removed.

[2018-12-17 19:02] #177 closed

[2018-12-18 09:01] Boehrsi commented on #100
Should be ready on Friday. 👍

[2018-12-18 10:50] r10s commented on #100
cool :)

[2018-12-19 15:02] adbenitez opened #179 "Account settings not working"
Seems like setting Security to off doesn't have any effect, since importing my previous configuration from DC v0.20 worked fine.

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.91.0
- Expected behavior: Changing the IMAP Security option to "Off" makes DC to do a plain IMAP connection
- Actual behavior: Changing the IMAP Security option to "Off" seems to no

[2018-12-19 15:16] adbenitez opened #180 "Profile name field showing empty when editing if account was imported"
Just a little "not the big deal" detail:
If users imported they account to the new version of DC, when they try to edit the profile is name the field is empty if they imported the account instead of setting this inside the app, if they set this inside the new app, when trying to edit the name field, the current name is kept in the field, this makes me thing that there are an error here since if th

[2018-12-19 15:32] adbenitez opened #181 "Endless loop when enebling screen lock option"
The app get stuck in an endless loop (you must reinstall the app to be able to use it again) if you enable the screen lock option. I have a set a pattern to unlock my phone, I don't know if with a PIN lock this also happens but it is highly probably.
This seems to be the same that #112

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.91
- Expected behavior:

[2018-12-19 15:51] r10s commented on #181
@adbenitez thanks for reporting :+1:

@Boehrsi maybe you can have a look at this?

[2018-12-19 15:52] r10s commented on #180
@adbenitez thanks for reporting!

[2018-12-19 15:54] r10s commented on #179
wondering what the switch in detail does in the core, at a first glance, at least `DC_LP_IMAP|SMTP_SOCKET_SSL` is not used in dc_imap.c or dc_smtp.c but only selects different default ports.

[2018-12-19 16:05] adbenitez commented on #179
I have set the port to 143 and security to "off" still I get the error:

[2018-12-20 01:31] r10s commented on #181
i could not reproduce the bug on my test devices (both android 7.1)
maybe it is related to the android version.

as a workaround, however, it should work to disable the pattern in the system settings.

[2018-12-20 14:17] adbenitez commented on #181
Yeah thanks for that, I would have saved some money if I had know that before... instead of reinstalling and re-downloading all chats and conversations :(

[2018-12-20 17:56] adbenitez opened #182 "Voice message player not working properly"
The voice message player doesn't work as expected: the "progress bar" doesn't work, doesn't move while the message is reproduced, also can't start to reproduce from... lets say the middle of the message.

- Platform (android/blackberry/anbox): Andorid 6.0
- Device: BLU
- Delta Chat Version: 0.91 and 0.92

[2018-12-20 18:02] adbenitez opened #183 "Player UI effects"
it is this the expected behaviour, or that should be a full circle??
![player](https://user-images.githubusercontent.com/24558636/50302207-671b0280-0457-11e9-8b02-b46a338568d1.png)

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.92.0 and 0.91

[2018-12-20 18:37] adbenitez opened #185 "Notification sound still played even if the message is from active chat"
Notification sound is played even when the message is from the current active chat, in the old 0.20 version a soft bubble sound was played in this cases if I remember well, is this an error or it is intended to happens??

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.92
- Expected behavior: while I am in a chat I don't receive noisy sounds notifications o

[2018-12-20 18:37] Boehrsi commented on #181
@adbenitez sorry to hear that you had to setup everything again. I don't think this is related to #112 as that was just a missing line of code, which should now work as intended. I will have a look tomorrow and hope I can figure out what exactly the problem is.
I think @r10s is right and this is related to the Android version used in that case. I will try to setup an emulator which matches the ver

[2018-12-20 21:39] adbenitez commented on #181
Boehrsi sorry, I meant I am having the same issue, not that it is caused by the same error on code, my fault not elaborate that properly. Thanks for taking care of this.

[2018-12-20 21:47] r10s commented on #181
@Boehrsi +1

[2018-12-20 21:50] r10s commented on #185
no, i think we should change this sooner or later.

these were the sounds that were played in-chat in the old delta-ui:

- for incoming messages:
https://github.com/deltachat/deltachat-android/blob/master/MessengerProj/src/main/res/raw/sound_in.wav

- for outgoing messages:
https://github.com/deltachat/deltachat-android/blob/master/MessengerProj/src/main/res/raw/sound_out.wav

[2018-12-20 22:17] adbenitez opened #187 "Notifications are too much intrusive"
Notification messages are too much intrusive/annoying. They are showing up while the user is writing in a chat or while seeing the chat list. In v0.20 the notification icon is shown in the "status bar" and sound is played but users aren't disturbed with a notification dialog showing up on the screen while they are chatting, this is really annoying if the user start to receive several messages from

[2018-12-20 22:35] r10s commented on #187
jupp, also when the app is in forground and a message arrives, beside a calmer sound (#185), i think the notification should not really pop up, even when the message arrives in another chat. instead it is sufficient when just an icon appears.

android has view-priority (or so) for this purpose.

[2018-12-21 00:36] adbenitez opened #188 "Can't cancel sending of message"
I have sent a 300KB image to a friend, the process have taken several minutes due the slow and intermittent network, long enough I changed my mind and decided not to send the image, since I don't see a more direct way to cancel this, I selected the message and press the delete icon, anyway the message still was sent to the recipient (after another bunch of painful minutes) all subsequent messages

[2018-12-21 10:06] Boehrsi commented on #100
@r10s this should work now :)

[2018-12-21 11:32] r10s commented on #188
if you delete the message using the delete icon, at least further attempt of sending things out should be stopped.

the current attempt, that is already started and pushed to the smtp-queue where libetpan/system/whatever tries to send things out, in fact, cannot be stopped this way.

however, you could probably switch the device to "flight mode" to force a stop for the current attempt.

[2018-12-21 13:15] Boehrsi commented on #181
Should be fixed now. Was a pretty strange behavior only happening on Android 6.0.0 (on 6.0.1 it's already fixed), so I think it's more or less an Android bug. But I worked around it.
Tested with 6.0.0, 6.0.1 and 9.0.0 and it seems to work everywhere now.

[2018-12-21 13:57] adbenitez commented on #182
IMPORTANT:
just checked and this is happening with the old voice messages (.ogg) alos to add that volume isn't working with this audio messages.
The messages recorded with v0.92 don't have any of this issues

[2018-12-21 14:03] adbenitez commented on #188
I will try to test this.

[2018-12-21 15:00] r10s commented on #188
cool :)
this might also be an tip for other apps btw.

[2018-12-21 15:08] r10s commented on #182
okay, i see. this is of minor importance then.
in general, it's not really clear which audio-format we will pick, see https://github.com/deltachat/deltachat-android-ii/issues/172#issuecomment-447130466

for now, the most important thing is that it words delta-dev to delta-dev.

[2018-12-21 17:47] bokf opened #190 "Sending Pictures on slow connections"
I have experienced a similar behaviour to my android issue 393 https://github.com/deltachat/deltachat-android/issues/393
On a slow connection an image with 390KB was sent three times. This is better then before, where the image was sent more then 10 times. I used version v0.90.0.

[2018-12-23 00:57] r10s commented on #172
wrt formats supported by android: https://developer.android.com/guide/topics/media/media-formats

the f-droid verison creates ogg-opus which is not supported by stock android.

but we could maybe go to mkv-opus - i am pretty sure, electron can play this, however, not sure about ios.

[2018-12-23 18:07] bokf commented on #190
Same problem on fast connection and large files ...
![bildschirmfoto_2018-12-23_19-01-51](https://user-images.githubusercontent.com/25562831/50386406-ede50f00-06e5-11e9-8883-7828768d6ee8.png)

[2018-12-24 15:39] SArsalanK opened #192 "java.lang.UnsatisfiedLinkError: couldn't find "libnative-utils.so""
2018-12-24 20:34:15.465 12757-12757/chat.delta.androidii E/AndroidRuntime: FATAL EXCEPTION: main
    Process: chat.delta.androidii, PID: 12757
    java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[DexPathList[[zip file "/system/framework/org.apache.http.legacy.boot.jar", zip file "/data/app/chat.delta.androidii-wXZr0pRaLNgIArgd70lmzQ==/base.apk"],nativeLibraryDirectories=[/data/app/cha

[2018-12-24 17:16] adbenitez opened #193 "Can't select multiple messages on "Contact Requests" View"
It is not possible to select more than one message in the Contact Requests view, when you long press a message and it is selected and you tap in another message to add it to the current selection, the dialog to accept to chat with that contact is shown(just like the app don't realize it is in the selection mode), it isn't possible to select multiple messages.

- Platform (android/blackberry/anbox)

[2018-12-26 11:50] Simon-Laux opened #194 "Bring back the old audio message player (waveforms)"
The one from Telegram with the waveforms instead of the current slider.
Our M tester complained about that after upgrading to android dev.

Also IMHO the waveform progress looks better than the slider.

[2018-12-26 11:56] Simon-Laux opened #195 "Contact avatar updates not immediately"
In our test we restarted the app after adding the contact in the phones contact app, but the avatar updated only after we went to the create new chat menu.

Also it might be a good idea to be able to set contact profile pictures right out of the app even if it creates the contact on the phone.

[2018-12-26 14:39] adbenitez commented on #195
Also if you change the contact name inside Delta Chat while chatting with that contact, the contact name isn't updated immediately on the top bar, you have to go back to the chats list first.

[2018-12-28 14:01] r10s opened #196 "sending a text file without extension is not displayed"

[2018-12-28 17:00] r10s opened #197 "enlarging GIFs opens another image in the gallery"
tapping on a GIF to enlarge it does not enlarge the GIF but opens the gallery with another image.

[2019-01-03 00:10] #193 closed

[2019-01-03 00:10] r10s commented on #193
thanks :)

[2019-01-03 12:20] r10s commented on #192
what is the context?

are you trying to build the app on your own?

please do not forget to call `ndk-build` from the repository main directory, see https://github.com/deltachat/deltachat-android-ii#build

[2019-01-03 12:22] r10s commented on #192
closing this for now, actionable item currently.

[2019-01-03 12:22] #192 closed

[2019-01-03 12:30] r10s commented on #190
interesting. sending attempts are started in sequences, not parallel.
i tried different things, however, i could not reproduce this behavior yet. any additional information would be welcome therefore.

[2019-01-03 12:39] r10s commented on #181
works for me and also @adbenitez has added a "heart", so i think we can close this :)
@Boehrsi @adbenitez happy new year, btw :)

[2019-01-03 12:39] #181 closed

[2019-01-03 12:40] r10s commented on #100
cool :)

[2019-01-03 15:23] bokf commented on #190
In the email header there are different lines with times:
Date: Sun, 23 Dec 2018 18:27:40 +0100
=> is always the same, and shown in the list of mails.

This one is different for each mail:
Received: from knopi.disroot.org ([127.0.0.1])
by localhost (disroot.org [127.0.0.1])
(amavisd-new, port 10024)with ESMTP id DVISctW0QOHL;
Sun, 23 Dec 2018 18:27:55 +0100 (CET)

The different emails have followi

[2019-01-03 16:14] adbenitez commented on #172
sending a voice message from the dev version to v0.20 works as expected (shows the audio attachment)

[2019-01-03 16:32] adbenitez opened #199 "Copy email to clipboard not working on profile view"
On the profile view of a contact it is shown the contact's email address but if you tap it nothing happens, in v0.20 if you tap it a dialog is shown with an option to copy the address to clipboard, I think the email address should be copied to clipboard if the user tap it.

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.97.1
- Steps to reproduce the problem: O

[2019-01-03 16:42] adbenitez opened #200 "Draft lost on incomming call"
If you receive a call while you are typing a message, the draft is not saved when Delta Chat's activity is stopped and replaced with the incoming call activity.

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.97.1
- Expected behavior: the draft is saved when the view lost the focus
- Actual behavior: the draft is lost when the view lost the focus due to an inc

[2019-01-03 16:45] r10s commented on #172
android-dev just does not support the codes used in the f-droid-version (ogg-opus); and it is questionable if we add support to ogg-opus to android-dev at all.
of course, this would result in an incompatibility between 0.20 and 0.97, however, after users have upgraded it will be fixed.

[2019-01-03 17:22] adbenitez opened #201 "Error accepting new chat"
when I accept a chat something weird is happening with the date label, also the bottom bar, with the textview for typing a message and buttons for sending attachments are not shown at all, I have to go back and open the chat again.

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.79.1
- Steps to reproduce the problem: go to the contact requests view, and tap on

[2019-01-03 18:36] r10s commented on #172
yes, unfortunately, this may happen.

ogg-opus would then be forwarded just to an "app that can play the data" - which may be none. the data as such are not gone, of course.

i think, however, for a beta-version, this is arguable.

however, before a final decision, i would like to profile the file sizes of ogg-opus a bit - compared esp. with lower-bitrate-mp3.

if the difference is "too large", i

[2019-01-03 20:33] adbenitez opened #202 "Unknown error when users tap in an image"
When users tap in an image, a toast "error" is shown. What is the expected behaviour?

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.79.1
- Expected behavior: Unknown
- Actual behavior: Toast showing "Error" string
- Steps to reproduce the problem: inside Delta Chat use the camera icon to take a picture, before sending it, tap it.
- Screenshots:
![screenshot_

[2019-01-03 20:51] adbenitez opened #203 "Chat UI not touch friendly"
Some buttons are a bit hard to tap, as you can see in the screenshot, the "x" button on the image is small, the edit image (pencil) button is too close to the send button so it is easy to send the image accidentally, the emoji icon's padding is small making it hard to tap.

- Platform (android/blackberry/anbox): Android
- Device: BLU
- Delta Chat Version: 0.97.1
- Screenshots:
![screenshot_2019010

[2019-01-03 22:52] r10s commented on #203
hm, compared to the touch keyboard, the buttons look good to me.

i think also that the real touch-sensitive-area is a bit larger.

[2019-01-03 22:52] r10s commented on #202
thanks for reporting - and nice image :)

[2019-01-03 23:32] #202 closed

[2019-01-03 23:52] r10s commented on #203
after targeting #202 and opening the preview when pressing the staged-image, i agree that at least the edit button could be a bit larger.

will also add some space between the staged-image and the text input which will also move the send-button a bit away.

[2019-01-04 00:35] r10s opened #204 "refine document messages"
- [ ] display in blue as for the f-droid-version
- [ ] the file-attach icon should also be in blue
- [ ] staging area should be improved

[2019-01-04 11:02] r10s commented on #183
closing this in favor to #172

[2019-01-04 11:02] #183 closed

[2019-01-04 11:03] r10s commented on #182
closing this in favor of #172

[2019-01-04 11:03] #182 closed

[2019-01-04 11:22] r10s commented on #172
some information about file sizes for a one-minute voice-message:
- 0.20 tg-f-droid-version using ogg-opus: 150K
- 0.97 android-dev-version using aac-opus: 260K
- mp3@16kbps: 96K
- mp3@32kbps: 192K

the quality for voice in mp3@16kbps is not _that_ bad, here is a 33 second example, the mid part is mp3@16kbps:
https://en.m.wikipedia.org/wiki/File:Test_mp3_opus_16kbps.wav

maybe using mp3@32kpbs is

[2019-01-04 14:42] adbenitez commented on #203
I think the touching area of the emoji icon could be bigger (look the attached image), there are lot of empty space around it, perhaps it is the screen size of my phone, but the icon is small and hard to tap with my dummy fingers ;) seriously, I usually have to tap it several times before the keyboard shows up, don't know if it is related to the touching area or because the low RAM (458MB) of my p

[2019-01-04 16:37] r10s commented on #203
thanks for explanation :)
maybe we can change the _magin_ of the image to a _padding_, at least for the emoticon/keyboard button.
however, still not sure if this is really needed. did not got reports about too small buttons before :)

[2019-01-04 16:50] hpk42 commented on #203
On Fri, Jan 04, 2019 at 08:37 -0800, björn petersen wrote:

then again, there are not many reporters who give feedback
at this precision/detail level :)

[2019-01-04 17:12] adbenitez commented on #203
r10s Well IMO the more dangerous thing was the edit button too close to the send button all the rest are less important details.

[2019-01-04 17:34] adbenitez commented on #172
The problem isn't that v0.97 is incompatible with the ogg format but that there are a bug in 0.97, the audio should be shown a file attachment that users can tap to play with other app since 0.97 don't support it, currently a buggy empty message is shown, if user tap in the left part of the empty message the audio is played, so seems like 0.97 actually can play it it just fail to show the audio wi

[2019-01-04 17:48] r10s commented on #203
the edit-button is now larger and a bit more away from the send button:

![image-23](https://user-images.githubusercontent.com/9800740/50702453-45be3700-1051-11e9-8ae0-7ab10bf77b19.png)

[2019-01-04 17:51] r10s commented on #203
however, maybe we can move the edit button further into the image. and maybe show it as a round button.

[2019-01-04 18:42] adbenitez commented on #172
r10s if the quality for voice in mp3@16kbps is "not that bad"  +1  to mp3@16kbps, on slow/paid connections small size is really appreciated :)

[2019-01-04 18:49] adbenitez commented on #203
I don't know anything abut UI design but the edit button could go in the left side so it is close to the hard to tap emiji icon so it is save there ;)

[2019-01-04 19:39] adbenitez commented on #203
anyway to avoid user taps the image accidentally while trying to tap the edit/close icons, there are space out of the image, something similar to this can be done, for example:
![edit and close](https://user-images.githubusercontent.com/24558636/50707339-83f62f00-102e-11e9-9ca9-0ec307b6577c.png)

[2019-01-04 20:53] r10s commented on #203
this is what i was talking about:

![image-24](https://user-images.githubusercontent.com/9800740/50710309-e79e4d80-106a-11e9-931f-f82df07e81b4.png)

[2019-01-04 21:07] adbenitez commented on #203
Right, I realized it but after all that GIMP work, decided to upload it anyway XD
I like much more this round edit icon +1

[2019-01-04 21:59] r10s commented on #203
sure, thanks for uploading and for all your help. this is very useful. :+1:

[2019-01-04 23:16] r10s opened #206 "gallery should show sender, not groupname"
in enlarged photo view, the title should show the name of the sender, not the group name (which is always the same)

[2019-01-06 21:17] r10s commented on #47
fixed by @chklump in https://github.com/deltachat/deltachat-android-ii/pull/207

[2019-01-06 21:17] #47 closed

[2019-01-06 23:19] #170 closed

[2019-01-07 09:38] angelo-fuchs commented on #190
were you moving (physically or network-wise) while this happened?

[2019-01-07 11:32] angelo-fuchs opened #208 "Creating Backup doesn't work on older phones"
The code requires API Level 21 and just crashes the App on lower versions, while suppressing linter messages.

https://github.com/deltachat/deltachat-android-ii/blob/master/src/org/thoughtcrime/securesms/util/ScreenLockUtil.java#L29

calls https://developer.android.com/reference/android/app/KeyguardManager#createConfirmDeviceCredentialIntent(java.lang.CharSequence,%20java.lang.CharSequence)

which

[2019-01-07 11:38] r10s commented on #208
cc @Boehrsi

[2019-01-07 12:33] Boehrsi commented on #208
Argh I missed that one. I will fix it tomorrow (disable the request as mentioned) and will have a look regarding the other createConfirmDeviceCredentialIntent calls to verify no similar problems exist.

[2019-01-07 12:35] r10s commented on #208
@Boehrsi cool :)

[2019-01-07 12:35] Boehrsi commented on #208
Btw. Happy New Year @r10s and @angelo-fuchs :)

[2019-01-07 12:47] r10s commented on #208
yeah, happy new year @Boehrsi @angelo-fuchs 🎆 🎇 🍾

[2019-01-07 12:52] Boehrsi commented on #208
Should work now as intended.

[2019-01-07 15:21] bokf commented on #190
No, during the second example I was at home. It is not very probable that my phone switched from one wlan to another. Normally it stays in the first wlan I logged in.

[2019-01-07 16:39] r10s commented on #100
there is one superfluous markseenCall(), i will remove this, re-opening this issue until done.

[2019-01-07 17:10] r10s commented on #100
this is fixed.

however, in fact, not for all messages shown markseenMsgs() is called. eg. if there are 10 new messages, and the chat is opened and displays 3 of them, only for the last one markseenMsgs() is called.
scrolling up to the 7 other messages, will mark the first new on view as seen, for the other messages, markseenMsgs() is not called (maybe when entering the chat again, however)

[2019-01-07 21:42] #175 closed

[2019-01-07 21:51] r10s opened #209 "always scroll down on message sending"
when sending a message, the chat view should always scroll down to the lower border of the new message sent.

this is not always the case, eg. when forwarding a message to a chat, no scrolling takes place. in other situations, a message is only half visible.

EDIT: simple reproducible by sending an image in portrait format, btw.

[2019-01-07 21:58] violoncelloCH commented on #209
I'm not so sure about that. It's quite annoying if you want to reply on a series of messages and always have to scroll back up to read further...

[2019-01-07 22:08] Boehrsi commented on #100
Hmm, makes sense, we should probably take all messages between findFirstCompletelyVisibleItemPosition and findLastCompletelyVisibleItemPosition.

[2019-01-07 22:11] Boehrsi commented on #100
I will have a look tomorrow if time allows. I probably missed that case while testing due to the "constructed test case" I used (sent 3-4 messages to an account and scrolled down).

[2019-01-07 22:22] adbenitez commented on #209
I don't like it :P
I usually have several messages on a group for example, I read an reply every message, if users wants to go to the bottom, there are a button for that, so it is more annoying to scroll up every time I reply a message than simply tapping the go to bottom button when I need it.

[2019-01-07 22:31] adbenitez commented on #209
well this shows us that what is a bug for someone is a feature to someone else ;)
I really gonna miss this bug, but you are right about the state of the messages

[2019-01-07 22:36] r10s commented on #100
cool :)
well, it was easy to miss things as virtually all messages in the thread were marked as seen on opening the chat :)

[2019-01-08 00:17] r10s commented on #100
@Boehrsi played around a bit, this is my solution: https://github.com/deltachat/deltachat-android-ii/commit/34597a086ea5507542d7f8cd4240c7c042004678 - is this fine from you point of view?

however, what should be improved: the sending should be delayed by a second or so to not disturb scrolling.

[2019-01-08 09:14] Boehrsi commented on #100
@r10s looked into both commits and tested a bit. Looks good I would say. :)
The only thing we can consider is collecting the message ids first and only calling dcContext.markseenMsgs(ids) once. This way we could reduce the JNI call count. I created a branch for that https://github.com/deltachat/deltachat-android-ii/commit/a63cd2746b28c3d1452fa0b11f81e8d078b15472

[2019-01-08 11:38] r10s commented on #100
thanks for checking :)
and yes, the optimized jni calls make sense :)

[2019-01-08 11:38] #100 closed

[2019-01-08 16:27] adbenitez opened #211 "Double mark shown but not all group members had read the message"
As shown in the screenshot, I have created a group with 6 members, I have sent a message and it is marked as read (double mark icon) but only 3 of the 5 other members had received it. Is this a bug or the expected behavior??

- Platform (android/blackberry/anbox): Android 6.0
- Device: BLU
- Delta Chat Version: 0.97.1
- Expected behavior: double mark is shown when all members had read the message

[2019-01-08 16:32] r10s commented on #211
it's the expected behaviour, see https://delta.chat/en/2017-07-06-read-receipts-and-social-pressure for some background.

[2019-01-08 17:23] adbenitez commented on #211
After reading the link I think it makes sense

[2019-01-08 18:46] r10s commented on #211
thanks for thinking about it :)

[2019-01-08 18:46] #211 closed

[2019-01-08 19:23] adbenitez commented on #211
After thinking a bit about this, this is a bit confusing for users, I was thinking all group members had received the message when saw the double check mark, a better approach would be to show "n VIEWS" where n is the number of members that have read the message, this way users know that not all members had read the message, this will not force the users having this disabled to do enable it, and t

[2019-01-08 20:50] adbenitez commented on #211
how it is showing a double mark more helpful?? at leas with a number I know how many members have seen the message, I can know if at least 1 or 2 members had read the message or if the 90% had read it, with a double mark the first thing a users think is that **all** members had received the message, also if I don't see a double mark I don't know if at least 1 or X members received it, showing a nu

[2019-01-08 21:05] r10s commented on #187
also, system-info-messages as "group member added" should not be notified.

[2019-01-08 21:06] r10s commented on #208
closing this for now, @angelo-fuchs feel free to re-open if there are still problems :)

[2019-01-08 21:06] #208 closed

[2019-01-08 21:15] hpk42 commented on #211
so let's maybe see to inform about who sent read notifications in
"message details" and then use that for a while.  Not immeidately sure
how much effort this is but probably more than estimated ;)

P.S.: you are probably aware that folks typically have a lot of things
to read and process, various channels, github notifications, chats,
emails, or RL discussions so brevity on gh issues is usually ap

[2019-01-08 21:49] r10s commented on #211
it's already there: long click message -> info (just a simple text, but, anyway :)

[2019-01-08 22:23] adbenitez commented on #211
I am already doing this, the info menu does this for the selected message, but it is too much work for each message, and the dialog is a bit hard to read, and feels really a hack for a normal user, check it in the image I shared on the first post of this issue.

sorry about that, `--verbose` option removed ;)

[2019-01-08 22:30] r10s commented on #211
sure, the dialog can be polished at a given time, just wanted to point out the the information, if a concrete member has read a post, is already available.

[2019-01-08 22:31] adbenitez commented on #211
@hpk42 I was thinking you was talking about something similar to the way riot handles this...
so an user that has read receipt disabled is just like an IRC user in riot

[2019-01-08 22:41] adbenitez commented on #211
yeah this information is useful, that is why I think it would be awesome to make it more accessible to the users, and this is really possible to make it without affecting users that don't want to use this feature, using it in a more direct way like riot does makes feel DC more in "real time" and more easy to know if users are online

[2019-01-08 22:44] r10s commented on #211
well, i personally do not like the way riot shows the read state and i also do not like too many numbers (i do not think they're useful) and/or information directly beside a message :)

[2019-01-08 22:52] adbenitez commented on #211
well, then the only thing I can say is that showing a double mark on groups will be confusing, and users will have to go to the info option, which involves: long tapping a message, tapping  the info option, carefully reading this dialog to find the info they want and tap "OK", I am following this routine for every message I send in a group, and even several times for the same message to check if o

[2019-01-08 22:55] adbenitez commented on #181
@r10s never received this message in DC, happy new year for you

[2019-01-08 23:19] r10s commented on #211
not sure about that.
the double-check-marks are well known from other messengers (whatsapp, telegram and signal among them), also for groups.
so, we're just re-using know ux patterns.

[2019-01-09 00:33] adbenitez commented on #211
exactly this has happened to me I was thinking this was a bug on DC!!!

[2019-01-09 01:06] r10s commented on #211
the meaning of the double-check-marks in groups differs in detail between different apps, so, not sure what _all_ user would expect :)

[2019-01-09 01:17] adbenitez commented on #211
sorry to been a dork and keep with this talk but, what is the point then on using this pattern if it is not know for the same purpose in all apps??? then it is better to use a patter that cause just 0 confusion :P

[2019-01-09 01:36] adbenitez commented on #211
if we are not sure what all users would expect, and on top of that we do no do exactly what other apps do, how can we expect users will "guess" the behavior of the double mark on DC???

[2019-01-09 10:54] r10s commented on #211
first of all, thank you for taking care. this is very much appreciated.

i think we can never be sure on this point ;)

this "exactly" is just not available, and differs eg. between whatsapp and telegram.

but i think it is still unique enough and known to the user as _a double check mark means sth. as "read by recipient/group"_

i think this is still easier to explain as an eye with a number or m

[2019-01-09 14:38] hpk42 opened #215 "Tell which user added/removed another user to a group"
i've run several times into the situation that i had no idea who a newly added member was -- "Member dideldi@dumbledum.net" added -- this degrades the feeling/association i can feel with that group, as it turns more "unknown" progressively.

As a first measure, how about saying "X added/removed member Y to/from group".

A second measure could be to also display the "adder" (if known) in the "membe

[2019-01-09 15:43] r10s commented on #215
yip, this should be improved. was thinking about sth. as "Y added by X", however :)

i think there is a related issue for this in the core already, mainly wrt to show the text in the language of the receiver, not the sender, however, i cannot find it currently :)

[2019-01-09 16:53] adbenitez commented on #211
so, double mark is not an standard, and we are using it just for yet another meaning

but that is NOT for what Delta Chat use it, since double mark appears when not all the group members had read it, from my point of view you are doing something like using just green and red for traffic light, with an overlapping between them...  accidents coming soon ;)

perhaps I am just a weird person, but from

[2019-01-09 21:10] r10s commented on #201
thanks for reporting - i have also noticed weird stuff that may belong to the same bug:

forwarding a message to the same chat results in darker (!) date labels.

i assume they're painted twice and due to the transparency, the result is darker; probably as dark as the mid part of the date label in the screenshot above :)

[2019-01-09 21:46] r10s opened #216 "click on e-mail in message should open new chat"
when a message contains an email address, this is already linked. a click on it, however, should not open an external program but simply ask "chat with?" as done eg. for creating new chats.

[2019-01-09 21:49] r10s opened #217 "date headlines should refer to sorting date"
currently, the date headlines in the chat view are generated from [dc_msg_get_timestamp()](https://c.delta.chat/classdc__msg__t.html#af667c538fd07771eb94d6c5d1879b906) which refers to the sending date. most time, this is okay, however, when messages come delayed by some hours, this may be confusing (the list as such is sorted mainly by the _receive_ time)

we should generate the headlines from the

[2019-01-09 22:44] #217 closed

[2019-01-09 23:33] r10s opened #218 "use lower bitrate for aac voice-messages"
we should use sth. comparable-in-size to the f-droid-version, see https://github.com/deltachat/deltachat-android-ii/issues/172#issuecomment-451418674 for some more information.

- 0.20 tg-f-droid-version using ogg-opus@16kbit: 150K (telegram-standard)
- 0.97 android-dev-version using aac-opus@32kbit: 260K (signal-standard)
- 0.97 android-dev-version using aac-opus@24kbit: 198K <-- some artefacts h

[2019-01-10 12:45] r10s commented on #165
just dived a bit into the source code:

1. the activity for recording is the system one, we can just use that (although it would be cool to record a video by _holding_ the trigger-button in the quick-camera view)
2. the activity [VideoEditorActivity](https://github.com/deltachat/deltachat-android/blob/master/MessengerProj/src/main/java/com/b44t/messenger/VideoEditorActivity.java) is used for setti

[2019-01-10 13:32] angelo-fuchs opened #219 "Using attr for parameters of drawables fails on older phones (pre-lollipop)"
[This commit](https://github.com/deltachat/deltachat-android-ii/commit/f49226d3356deab0b22ea84cd935dc2d60e05d78) introduced a syntax that is broken on older Android versions.

Issue at Google:
https://issuetracker.google.com/issues/36941443

Stack Overflow questions treating this question:
https://stackoverflow.com/questions/31146340/kitkat-specific-android-content-res-resourcesnotfoundexception-f

[2019-01-10 14:34] r10s commented on #219
thanks for figuring that out. so the core problem is that `<solid>` does not work in combination with `?attr` on pre-lollipop?

also had a look, message_bubble_background_*_alone is not used, so only two left :)

[2019-01-10 14:39] angelo-fuchs commented on #219
I have no idea where I can see the permission_rationale, so I hesitate 'fixing' it.

[2019-01-10 14:44] r10s commented on #219
it's shown when before a permission is requested at runtime.
might be that this just is not done on pre-lollipop and the dialog is not used there, not sure (however, afaik the dialog is the unmodified signal dialog, so they might have the same problem otherwise)

wrt. `attr/conversation_item_update_bg_color`: this is easy at it can be replaced by `@color/universal_overlay directly` (used for both

[2019-01-10 14:49] r10s commented on #219
ah, you also just did it :)

[2019-01-10 15:25] r10s commented on #219
using just the default corner rounding makes some sense, fits better to material design and also solves the problem :)

![image-28](https://user-images.githubusercontent.com/9800740/50978251-5577c880-14f4-11e9-8582-75b160c74334.png)

so: overstyling causes problems :)

i think this issue can be closed now.

[2019-01-10 15:44] r10s commented on #84
well, @angelo-fuchs has just fixed an issue for pre-lollipop, however, apart from that it seems to work, maybe with hacky-workarounds here and there, but, anyway.

some compromises will be needed, however. eg. upcoming features as video recoding (#165), won't be supported by SDK<18 as supporting these version seems to require adding and maintaining a bunch of c-libraries,.

in summary, wrt cuba an

[2019-01-10 17:34] adbenitez commented on #84
While spreading DC I have found only one user that was using an Android version not even supported for Delta Chat v0.20. My personal opinion in this matter is that it is better the speed and reach on the user base, than removing support in favour of superfluous features or "fancy" UIs.
But even here in Cuba, I think most users have Android > API 19, as example I am pretty poor, my phone has less t

[2019-01-10 17:51] adbenitez opened #220 "Errors selecting and deleting contacts"
When selecting contacts, the number of selected contact is not displayed (see the screenshot), also when pressing the trash icon to delete the selected contacts a toast with the text "Error" is displayed, this happens when users select more than one contact to delete, deleting only one contact works.

- Platform (android/blackberry/anbox): Android
- Device: 6.0
- Delta Chat Version: 0.97.2
- Steps

[2019-01-10 20:31] r10s commented on #219
closing this for now, feel free to re-open if the issue is not fixed.

[2019-01-10 20:31] #219 closed

[2019-01-10 21:07] #218 closed

[2019-01-10 21:11] r10s commented on #218
okay, skipping theoretical tests for now.

i've decreased the aac bitrate from 32kbits to 24kbits, theoretically, this should be roughly the same quality as ogg-opus with 16kbits (or aac-he, which, however, [does not work on all systems](https://stackoverflow.com/questions/26504386/mediacodec-audio-video-muxing-issues-ond-android))

it's now slightly larger than the f-droid-ogg-opus, however, more

[2019-01-10 21:44] hpk42 commented on #218
very cool -- eager to try this out :)

On Thu, Jan 10, 2019 at 13:11 -0800, björn petersen wrote:

[2019-01-10 21:49] adbenitez commented on #218
Me too =)

[2019-01-10 22:01] r10s commented on #164
there is already a function that could be helpful: MediaUtil.getVideoThumbnail()

[2019-01-10 22:04] r10s commented on #84
thanks, these are very useful information, indeed :)

[2019-01-10 22:21] hpk42 commented on #211
this issue is closed and i think several things have been repeated already.  Closing does not mean that the behaviour will never change but the current discussion is exhausted.  I am pretty sure we are going to revisit the issue at one point or another but let's not ride this dead horse (ie closed issue) much more now.

[2019-01-10 23:07] r10s opened #221 "weird date for chats without messages"
chats without message should just show no date in the chatlist.

however, a random (?) date is shown.

[2019-01-10 23:25] violoncelloCH opened #222 "new chat background"
Hi @r10s
I would like to create a new (default) chat background for deltachat. Something that connects to the name and fits into the design of the rest of the application...
What would be the desired format and ratio for the background? Could you point me to the current file? I only found the one used in desktop (https://github.com/deltachat/deltachat-desktop/blob/master/images/background_hd.jpg).

[2019-01-10 23:42] r10s commented on #222
it's the same in android: https://github.com/deltachat/deltachat-android-ii/blob/master/res/drawable-xhdpi/background_hd.jpg

[2019-01-10 23:48] r10s commented on #168
nb: function used in f-droid-version: SendMessagesHelper.generatePhotoSizes()

[2019-01-11 00:00] #221 closed

[2019-01-11 00:01] r10s commented on #221
the date was the date of the chat _before_ the item was recycled.

[2019-01-11 07:01] violoncelloCH commented on #222
thank you :) I just didn't find it and a github search for `background_hd` didn't return anything...
do you have any requirements / expectations for a new background?

[2019-01-11 11:19] r10s commented on #222
to be honest, i have not really thought about much this before.

the current background has a shade that is optimized to the darkness of the bubbles (left: light bubbles->lighter background, right: darker bubbles->darker background). also the background should not distract reading/visibility too much and work together with the delta-title color (blue-green-sth).

apart from that: i think, it would

[2019-01-11 14:40] adbenitez commented on #220
UPDATE: the error is happening while deleting 1 contact also, it is just that it is not happening for all contacts.

[2019-01-11 16:06] r10s commented on #220
thanks for the update, i just added this to the thinkgs to do for the january-releases.

[2019-01-11 16:54] r10s commented on #222
closing as the initial question is answered, looking forward to see proposal at https://support.delta.chat/ then :)

[2019-01-11 16:54] #222 closed

[2019-01-11 22:31] r10s opened #224 "use ok/cancel for adding members"
currently, the adding-members-activity shows the "back" button in the title-bar to confirm the selected members.

it should better have the "cancel" and "ok" button-symbols in the title-bar.

[2019-01-11 22:34] r10s opened #225 "use ok/cancel for the login screen"
currently, the login-screen shows the a login-button below the input fields. this is a but unusual and also the keyboard often lies over the button.

it should better have the standard "cancel" and "ok" button-symbols in the title-bar.

moreover, i would add the "for known ..." text below the email/password fields and above the advanced-button.

[2019-01-11 23:42] violoncelloCH opened #226 "collect selected contacts at the top on group creation"
when creating a group, in a long list of contacts, it's difficult to keep the overview about who is selected... how about collecting the checked contacts at the top? or at least show a counter about how many contacts are selected...?
telegram UI also listed them at the top and said "5 members and me" in the title

[2019-01-12 00:00] hpk42 commented on #224
On Fri, Jan 11, 2019 at 15:28 -0800, Asiel Díaz Benítez wrote:

+1, same here -- the current member adding flow is slightly irritating.

[2019-01-12 00:01] adbenitez commented on #226
Related to this:
On a created group when you tap on the "add members" button, already members should appear with the check mark set or not appear at all, since in a big group users may not remember which users are already in and try to add them again (self experience ;)

[2019-01-12 00:04] adbenitez commented on #226
Currently users cannot differentiate between already added members and new ones on the list

[2019-01-12 00:33] r10s commented on #226
i think the latter is fixed by @chklump in https://github.com/deltachat/deltachat-android-ii/pull/207, however, probably not released yet

[2019-01-12 00:43] #168 closed

[2019-01-12 23:41] #224 closed

[2019-01-13 00:10] r10s commented on #220
the error comes from the attempt to delete contats with ongoing chats. this is not possible (and explained in the confirmation dialog).

however, i've made the error text a bit more clerer ;)

[2019-01-13 00:37] r10s commented on #226
closed by accident, wanted to close #220

[2019-01-13 00:43] r10s commented on #220
closed this in 31c9f720b1dacc23f26ac907a5042729a5499180

wrt deletion of referenced contact: also thought this several times, however, in the end it was a contact request or a group i forgot or so.

[2019-01-13 00:43] #220 closed

[2019-01-13 01:35] #209 closed

[2019-01-13 12:51] r10s commented on #201
also happens when the forwarded message is the first message of a day

[2019-01-13 13:59] Ampli-fier opened #228 "Autoconfig fails for invalid Certificates"
- Platform: Android 5.1 + Android 9
- Device: Samsung Galaxy S2 + Pixel 3
- Delta Chat Version: 0.97.2
- Expected behavior:

Autoconfig files can be downloaded - even when the Certificate cannot be verified. This was working in the F-Droid version.

In general it would be nice if the Java errors reported by Android (`W System.err` in below Logs) could be suppressed.

- Actual behavior: Autoconfig

[2019-01-13 15:04] ralphtheninja commented on #228
Beautiful bug report!

[2019-01-13 16:54] r10s commented on #226
closing this for now, we can check this later again.

[2019-01-13 17:04] r10s opened #229 "qr-code on group-creation does not show the qr code to join the group"
the chat_id is probably missing or still 0 so the the qr code to setup a verified contact is show, see [dc_get_securejoin_qr()](https://c.delta.chat/classdc__context__t.html#aeec58fc8a478229925ec8b7d48cf18bf)

[2019-01-13 17:13] r10s opened #230 "prepare for f-droid"
- change the internal app name from chat.delta.androidii to com.b44t.messenger - otherwise the data from f-droid cannot be used
- change the repo url so that f-droid picks up this repo without additional changes

[2019-01-13 17:46] violoncelloCH commented on #226
why do you close it? wouldn't it be better to just tag it "low priority" or something?
I think it's almost certain that people will open new issues for the same thing if you just close it as is... If you leave it open, it's clear to everyone that this will probably/maybe be worked on sometime in the future...

Of course it's your project and your decision, but I see the issues as a sort of overall

[2019-01-13 19:02] hpk42 commented on #226
On Sun, Jan 13, 2019 at 09:46 -0800, violoncello.ch wrote:

My view: If there are people who want to develop on an issue then it
is not closed usually. If such an interest does not exist it rather
has been a discussion and has influenced the thinking [*] around a topic
but there is no direct activity or commitment. This is also highly
situational ... currently most devs are in "release freeze" mod

[2019-01-13 20:09] r10s commented on #226
happy to re-open it, no problem.

[2019-01-13 20:16] r10s commented on #226
however, as mentioned in the linked pr, i think it is not really useful to work on this issue just now.

[2019-01-14 14:33] Boehrsi commented on #153
Should work now.

[2019-01-14 14:37] #153 closed

[2019-01-14 14:38] r10s commented on #199
great :)

[2019-01-14 14:38] #199 closed